@charset "UTF-8";
/*! VZRF 2.20.0 */
/* Font Face Declarations */
@font-face {
  font-family: "BrandFont";
  src: url("../../fonts/neue-haas-grotesk/NeueHaasGroteskText55Roman.woff") format("woff"), url("../../fonts/neue-haas-grotesk/NeueHaasGroteskText55Roman.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "BrandFont";
  src: url("../../fonts/neue-haas-grotesk/NeueHaasGroteskText75Bold.woff") format("woff"), url("../../fonts/neue-haas-grotesk/NeueHaasGroteskText75Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "vzicons";
  src: url("../../fonts/icon-fonts/vzicons.woff") format("woff"), url("../../fonts/icon-fonts/vzicons.ttf") format("truetype");
  font-weight: normal;
}
