@charset "UTF-8";
/*! VZRF 2.20.0 */
@media only screen {
  /* line 14, ../../scss/components/grid-auto-outer-gutters.scss */
  .main > .row,
  .main.tiny-wide > .row,
  .main > .row.tiny-wide,
  [data-fixed-bottom] > .row,
  [data-fixed-bottom].tiny-wide > .row,
  [data-fixed-bottom] > .row.tiny-wide {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  /* line 24, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.tiny-narrow > .row,
  .main > .row.tiny-narrow,
  [data-fixed-bottom].tiny-narrow > .row,
  [data-fixed-bottom] > .row.tiny-narrow {
    padding-left: 3.1875rem;
    padding-right: 3.1875rem;
  }

  /* line 34, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch,
  .main .w_steps, .main .w_carousel.stretch > .carousel_item,
  .main.tiny-wide .stretch,
  .main.tiny-wide .w_steps,
  .main.tiny-wide .w_carousel.stretch > .carousel_item {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
  /* line 39, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch.padded,
  .main .w_steps.padded, .main .w_carousel.stretch > .carousel_item.padded,
  .main.tiny-wide .stretch.padded,
  .main.tiny-wide .w_steps.padded,
  .main.tiny-wide .w_carousel.stretch > .carousel_item.padded {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }

  /* line 47, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.tiny-narrow .stretch,
  .main.tiny-narrow .w_steps, .main.tiny-narrow .w_carousel.stretch > .carousel_item {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  /* line 52, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.tiny-narrow .stretch.padded,
  .main.tiny-narrow .w_steps.padded, .main.tiny-narrow .w_carousel.stretch > .carousel_item.padded {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 61, ../../scss/components/grid-auto-outer-gutters.scss */
  .main > .row,
  .main.small-wide > .row,
  .main > .row.small-wide,
  [data-fixed-bottom] > .row,
  [data-fixed-bottom].small-wide > .row,
  [data-fixed-bottom] > .row.small-wide {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  /* line 71, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.small-narrow > .row,
  .main > .row.small-narrow,
  [data-fixed-bottom].small-narrow > .row,
  [data-fixed-bottom] > .row.small-narrow {
    padding-left: 3.1875rem;
    padding-right: 3.1875rem;
  }

  /* line 81, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch,
  .main .w_steps, .main .w_carousel.stretch > .carousel_item,
  .main.small-wide .stretch,
  .main.small-wide .w_steps,
  .main.small-wide .w_carousel.stretch > .carousel_item {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
  /* line 86, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch.padded,
  .main .w_steps.padded, .main .w_carousel.stretch > .carousel_item.padded,
  .main.small-wide .stretch.padded,
  .main.small-wide .w_steps.padded,
  .main.small-wide .w_carousel.stretch > .carousel_item.padded {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }

  /* line 94, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.small-narrow .stretch,
  .main.small-narrow .w_steps, .main.small-narrow .w_carousel.stretch > .carousel_item {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  /* line 99, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.small-narrow .stretch.padded,
  .main.small-narrow .w_steps.padded, .main.small-narrow .w_carousel.stretch > .carousel_item.padded {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 109, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.medium-narrow > .row,
  .main > .row.medium-narrow,
  [data-fixed-bottom] > .row,
  [data-fixed-bottom].medium-narrow > .row,
  [data-fixed-bottom] > .row.medium-narrow {
    padding-left: 3.1875rem;
    padding-right: 3.1875rem;
  }

  /* line 118, ../../scss/components/grid-auto-outer-gutters.scss */
  .main > .row,
  .main.medium-wide > .row,
  .main > .row.medium-wide,
  [data-fixed-bottom].medium-wide > .row,
  [data-fixed-bottom] > .row.medium-wide {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  /* line 128, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.medium-narrow .stretch,
  .main.medium-narrow .w_steps, .main.medium-narrow .w_carousel.stretch > .carousel_item {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  /* line 133, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.medium-narrow .stretch.padded,
  .main.medium-narrow .w_steps.padded, .main.medium-narrow .w_carousel.stretch > .carousel_item.padded {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  /* line 142, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch,
  .main .w_steps, .main .w_carousel.stretch > .carousel_item,
  .main.medium-wide .stretch,
  .main.medium-wide .w_steps,
  .main.medium-wide .w_carousel.stretch > .carousel_item {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
  /* line 147, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch.padded,
  .main .w_steps.padded, .main .w_carousel.stretch > .carousel_item.padded,
  .main.medium-wide .stretch.padded,
  .main.medium-wide .w_steps.padded,
  .main.medium-wide .w_carousel.stretch > .carousel_item.padded {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
@media only screen and (min-width: 60.625rem) {
  /* line 156, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.large-narrow > .row,
  .main > .row.large-narrow,
  [data-fixed-bottom] > .row,
  [data-fixed-bottom].large-narrow > .row,
  [data-fixed-bottom] > .row.large-narrow {
    padding-left: 3.1875rem;
    padding-right: 3.1875rem;
  }

  /* line 165, ../../scss/components/grid-auto-outer-gutters.scss */
  .main > .row,
  .main.large-wide > .row,
  .main > .row.large-wide,
  [data-fixed-bottom].large-wide > .row,
  [data-fixed-bottom] > .row.large-wide {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
  }

  /* line 175, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.large-narrow .stretch,
  .main.large-narrow .w_steps, .main.large-narrow .w_carousel.stretch > .carousel_item {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  /* line 180, ../../scss/components/grid-auto-outer-gutters.scss */
  .main.large-narrow .stretch.padded,
  .main.large-narrow .w_steps.padded, .main.large-narrow .w_carousel.stretch > .carousel_item.padded {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  /* line 189, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch,
  .main .w_steps, .main .w_carousel.stretch > .carousel_item,
  .main.large-wide .stretch,
  .main.large-wide .w_steps,
  .main.large-wide .w_carousel.stretch > .carousel_item {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
  /* line 194, ../../scss/components/grid-auto-outer-gutters.scss */
  .main .stretch.padded,
  .main .w_steps.padded, .main .w_carousel.stretch > .carousel_item.padded,
  .main.large-wide .stretch.padded,
  .main.large-wide .w_steps.padded,
  .main.large-wide .w_carousel.stretch > .carousel_item.padded {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
  }
}
