@charset "UTF-8";
/* line 1, ../../scss/components/grid-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 216, ../../scss/components/grid.scss */
.vzrf .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80rem;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 63, ../../scss/components/grid.scss */
.fluid-grid > .vzrf .row, .vzrf .row.fluid-grid {
  max-width: none;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .row:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .row:after {
  clear: both;
}
/* line 220, ../../scss/components/grid.scss */
.vzrf .row.collapse > .column,
.vzrf .row.collapse > .columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 223, ../../scss/components/grid.scss */
.vzrf .row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 227, ../../scss/components/grid.scss */
.vzrf .w_modal .row,
.vzrf .row .row {
  margin-left: -0.5625rem;
  margin-right: -0.5625rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_modal .row:after,
.vzrf .row .row:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_modal .row:after,
.vzrf .row .row:after {
  clear: both;
}
/* line 230, ../../scss/components/grid.scss */
.vzrf .w_modal .row.collapse,
.vzrf .row .row.collapse {
  margin: 0;
  max-width: none;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_modal .row.collapse:after,
.vzrf .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_modal .row.collapse:after,
.vzrf .row .row.collapse:after {
  clear: both;
}
/* line 251, ../../scss/components/grid.scss */
.vzrf .w_list-control > li > .row,
.vzrf .w_list-control > li > a > .row {
  margin-left: -0.5625rem;
  margin-right: -0.5625rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_list-control > li > .row:after,
.vzrf .w_list-control > li > a > .row:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_list-control > li > .row:after,
.vzrf .w_list-control > li > a > .row:after {
  clear: both;
}
/* line 254, ../../scss/components/grid.scss */
.vzrf .w_list-control > li > .row.collapse,
.vzrf .w_list-control > li > a > .row.collapse {
  margin: 0;
  max-width: none;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_list-control > li > .row.collapse:after,
.vzrf .w_list-control > li > a > .row.collapse:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_list-control > li > .row.collapse:after,
.vzrf .w_list-control > li > a > .row.collapse:after {
  clear: both;
}
/* line 257, ../../scss/components/grid.scss */
.vzrf .column,
.vzrf .columns {
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  width: 100%;
  float: left;
}
@media only screen {
  /* line 151, ../../scss/components/grid.scss */
  .vzrf .column.tiny-centered,
  .vzrf .columns.tiny-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 154, ../../scss/components/grid.scss */
  .vzrf .column.tiny-uncentered,
  .vzrf .columns.tiny-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 161, ../../scss/components/grid.scss */
  .vzrf .column.tiny-uncentered.opposite,
  .vzrf .columns.tiny-uncentered.opposite {
    float: right;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .tiny-push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .tiny-pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
  /* line 175, ../../scss/components/grid.scss */
  .vzrf .column,
  .vzrf .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 180, ../../scss/components/grid.scss */
  .vzrf .row.tiny-collapse > .column,
  .vzrf .row.tiny-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 183, ../../scss/components/grid.scss */
  .vzrf .row.tiny-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 186, ../../scss/components/grid.scss */
  .vzrf .row.tiny-uncollapse > .column,
  .vzrf .row.tiny-uncollapse > .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-1 {
    width: 8.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-2 {
    width: 16.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-3 {
    width: 25%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-4 {
    width: 33.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-5 {
    width: 41.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-6 {
    width: 50%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-7 {
    width: 58.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-8 {
    width: 66.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-9 {
    width: 75%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-10 {
    width: 83.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-11 {
    width: 91.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .tiny-12 {
    width: 100%;
  }
  /* line 198, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  /* line 199, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"].end {
    float: left;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-0 {
    margin-left: 0% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-3 {
    margin-left: 25% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-6 {
    margin-left: 50% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-9 {
    margin-left: 75% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .tiny-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 205, ../../scss/components/grid.scss */
  .vzrf .column.tiny-reset-order,
  .vzrf .columns.tiny-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 151, ../../scss/components/grid.scss */
  .vzrf .column.small-centered,
  .vzrf .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 154, ../../scss/components/grid.scss */
  .vzrf .column.small-uncentered,
  .vzrf .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 161, ../../scss/components/grid.scss */
  .vzrf .column.small-uncentered.opposite,
  .vzrf .columns.small-uncentered.opposite {
    float: right;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .small-push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .small-pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
  /* line 175, ../../scss/components/grid.scss */
  .vzrf .column,
  .vzrf .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 180, ../../scss/components/grid.scss */
  .vzrf .row.small-collapse > .column,
  .vzrf .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 183, ../../scss/components/grid.scss */
  .vzrf .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 186, ../../scss/components/grid.scss */
  .vzrf .row.small-uncollapse > .column,
  .vzrf .row.small-uncollapse > .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-1 {
    width: 8.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-2 {
    width: 16.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-3 {
    width: 25%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-4 {
    width: 33.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-5 {
    width: 41.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-6 {
    width: 50%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-7 {
    width: 58.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-8 {
    width: 66.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-9 {
    width: 75%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-10 {
    width: 83.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-11 {
    width: 91.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .small-12 {
    width: 100%;
  }
  /* line 198, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  /* line 199, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"].end {
    float: left;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-0 {
    margin-left: 0% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-3 {
    margin-left: 25% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-6 {
    margin-left: 50% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-9 {
    margin-left: 75% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .small-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 205, ../../scss/components/grid.scss */
  .vzrf .column.small-reset-order,
  .vzrf .columns.small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 268, ../../scss/components/grid.scss */
  .vzrf .push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 271, ../../scss/components/grid.scss */
  .vzrf .pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 151, ../../scss/components/grid.scss */
  .vzrf .column.medium-centered,
  .vzrf .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 154, ../../scss/components/grid.scss */
  .vzrf .column.medium-uncentered,
  .vzrf .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 161, ../../scss/components/grid.scss */
  .vzrf .column.medium-uncentered.opposite,
  .vzrf .columns.medium-uncentered.opposite {
    float: right;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .medium-push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .medium-pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
  /* line 175, ../../scss/components/grid.scss */
  .vzrf .column,
  .vzrf .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 180, ../../scss/components/grid.scss */
  .vzrf .row.medium-collapse > .column,
  .vzrf .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 183, ../../scss/components/grid.scss */
  .vzrf .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 186, ../../scss/components/grid.scss */
  .vzrf .row.medium-uncollapse > .column,
  .vzrf .row.medium-uncollapse > .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-1 {
    width: 8.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-2 {
    width: 16.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-3 {
    width: 25%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-4 {
    width: 33.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-5 {
    width: 41.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-6 {
    width: 50%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-7 {
    width: 58.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-8 {
    width: 66.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-9 {
    width: 75%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-10 {
    width: 83.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-11 {
    width: 91.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .medium-12 {
    width: 100%;
  }
  /* line 198, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  /* line 199, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"].end {
    float: left;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-0 {
    margin-left: 0% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-3 {
    margin-left: 25% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-6 {
    margin-left: 50% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-9 {
    margin-left: 75% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .medium-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 205, ../../scss/components/grid.scss */
  .vzrf .column.medium-reset-order,
  .vzrf .columns.medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 281, ../../scss/components/grid.scss */
  .vzrf .push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 284, ../../scss/components/grid.scss */
  .vzrf .pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
}
@media only screen and (min-width: 60.625rem) {
  /* line 151, ../../scss/components/grid.scss */
  .vzrf .column.large-centered,
  .vzrf .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  /* line 154, ../../scss/components/grid.scss */
  .vzrf .column.large-uncentered,
  .vzrf .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  /* line 161, ../../scss/components/grid.scss */
  .vzrf .column.large-uncentered.opposite,
  .vzrf .columns.large-uncentered.opposite {
    float: right;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 167, ../../scss/components/grid.scss */
  .vzrf .large-push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 170, ../../scss/components/grid.scss */
  .vzrf .large-pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
  /* line 175, ../../scss/components/grid.scss */
  .vzrf .column,
  .vzrf .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 180, ../../scss/components/grid.scss */
  .vzrf .row.large-collapse > .column,
  .vzrf .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 183, ../../scss/components/grid.scss */
  .vzrf .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0;
  }
  /* line 186, ../../scss/components/grid.scss */
  .vzrf .row.large-uncollapse > .column,
  .vzrf .row.large-uncollapse > .columns {
    padding-left: 0.5625rem;
    padding-right: 0.5625rem;
    float: left;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-1 {
    width: 8.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-2 {
    width: 16.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-3 {
    width: 25%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-4 {
    width: 33.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-5 {
    width: 41.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-6 {
    width: 50%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-7 {
    width: 58.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-8 {
    width: 66.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-9 {
    width: 75%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-10 {
    width: 83.33333%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-11 {
    width: 91.66667%;
  }
  /* line 195, ../../scss/components/grid.scss */
  .vzrf .large-12 {
    width: 100%;
  }
  /* line 198, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"]:last-child {
    float: right;
  }
  /* line 199, ../../scss/components/grid.scss */
  .vzrf [class*="column"] + [class*="column"].end {
    float: left;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-0 {
    margin-left: 0% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-1 {
    margin-left: 8.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-2 {
    margin-left: 16.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-3 {
    margin-left: 25% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-4 {
    margin-left: 33.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-5 {
    margin-left: 41.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-6 {
    margin-left: 50% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-7 {
    margin-left: 58.33333% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-8 {
    margin-left: 66.66667% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-9 {
    margin-left: 75% !important;
  }
  /* line 203, ../../scss/components/grid.scss */
  .vzrf .large-offset-10 {
    margin-left: 83.33333% !important;
  }
  /* line 205, ../../scss/components/grid.scss */
  .vzrf .column.large-reset-order,
  .vzrf .columns.large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-1 {
    left: 8.33333%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-1 {
    right: 8.33333%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-2 {
    left: 16.66667%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-2 {
    right: 16.66667%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-3 {
    left: 25%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-3 {
    right: 25%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-4 {
    left: 33.33333%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-4 {
    right: 33.33333%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-5 {
    left: 41.66667%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-5 {
    right: 41.66667%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-6 {
    left: 50%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-6 {
    right: 50%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-7 {
    left: 58.33333%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-7 {
    right: 58.33333%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-8 {
    left: 66.66667%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-8 {
    right: 66.66667%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-9 {
    left: 75%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-9 {
    right: 75%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-10 {
    left: 83.33333%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-10 {
    right: 83.33333%;
    left: auto;
    position: relative;
  }
  /* line 292, ../../scss/components/grid.scss */
  .vzrf .push-11 {
    left: 91.66667%;
    right: auto;
    position: relative;
  }
  /* line 295, ../../scss/components/grid.scss */
  .vzrf .pull-11 {
    right: 91.66667%;
    left: auto;
    position: relative;
  }
}
