@charset "UTF-8";
/* line 1, ../../scss/components/helpers-display-namespaced.scss */
body.vzrf.no-scroll,
.vzrf.no-scroll {
  overflow: hidden;
}

/* line 6, ../../scss/components/helpers-display-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 7, ../../scss/components/helpers-display.scss */
.vzrf .left {
  float: left !important;
}
/* line 8, ../../scss/components/helpers-display.scss */
.vzrf .right {
  float: right !important;
}
/* line 9, ../../scss/components/helpers-display.scss */
.vzrf .clear {
  clear: both !important;
}
/* line 10, ../../scss/components/helpers-display.scss */
.vzrf .clear-left {
  clear: left !important;
}
/* line 11, ../../scss/components/helpers-display.scss */
.vzrf .clear-right {
  clear: right !important;
}
/* line 12, ../../scss/components/helpers-display.scss */
.vzrf .clear-none {
  clear: none !important;
}
/* line 13, ../../scss/components/helpers-display.scss */
.vzrf .float-reset,
.vzrf .float-none {
  float: none !important;
}
/* line 15, ../../scss/components/helpers-display.scss */
.vzrf .clearfix {
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .clearfix:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .clearfix:after {
  clear: both;
}
/* line 17, ../../scss/components/helpers-display.scss */
.vzrf .text-left {
  text-align: left !important;
}
/* line 18, ../../scss/components/helpers-display.scss */
.vzrf .text-right {
  text-align: right !important;
}
/* line 19, ../../scss/components/helpers-display.scss */
.vzrf .text-center {
  text-align: center !important;
}
/* line 20, ../../scss/components/helpers-display.scss */
.vzrf .text-justify {
  text-align: justify !important;
}
/* line 23, ../../scss/components/helpers-display.scss */
.vzrf .vert-top {
  vertical-align: top;
}
/* line 24, ../../scss/components/helpers-display.scss */
.vzrf .vert-text-top {
  vertical-align: text-top;
}
/* line 25, ../../scss/components/helpers-display.scss */
.vzrf .vert-middle {
  vertical-align: middle;
}
/* line 26, ../../scss/components/helpers-display.scss */
.vzrf .vert-bottom {
  vertical-align: bottom;
}
/* line 27, ../../scss/components/helpers-display.scss */
.vzrf .vert-text-bottom {
  vertical-align: text-bottom;
}
/* line 30, ../../scss/components/helpers-display.scss */
.vzrf .center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/* line 35, ../../scss/components/helpers-display.scss */
.vzrf .uncenter {
  margin-left: 0;
  margin-right: 0;
}
/* line 40, ../../scss/components/helpers-display.scss */
.vzrf .inline-block {
  display: inline-block;
}
/* line 41, ../../scss/components/helpers-display.scss */
.vzrf .block {
  display: block;
}
/* line 42, ../../scss/components/helpers-display.scss */
.vzrf .inline {
  display: inline;
}
/* line 43, ../../scss/components/helpers-display.scss */
.vzrf .hide {
  display: none;
}
/* line 44, ../../scss/components/helpers-display.scss */
.vzrf .relative {
  position: relative;
}
/* line 45, ../../scss/components/helpers-display.scss */
.vzrf .absolute {
  position: absolute;
}
/* line 46, ../../scss/components/helpers-display.scss */
.vzrf .static {
  position: static;
}
/* line 48, ../../scss/components/helpers-display.scss */
.vzrf .no-scroll {
  overflow: hidden;
}
/* line 53, ../../scss/components/helpers-display.scss */
.vzrf .border-all {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #cccccc;
}
/* line 58, ../../scss/components/helpers-display.scss */
.vzrf .border-none {
  border: none !important;
  border-color: #cccccc;
}
/* line 62, ../../scss/components/helpers-display.scss */
.vzrf .border-top {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: #cccccc;
}
/* line 67, ../../scss/components/helpers-display.scss */
.vzrf .border-right {
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-right-color: #cccccc;
}
/* line 72, ../../scss/components/helpers-display.scss */
.vzrf .border-bottom {
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #cccccc;
}
/* line 77, ../../scss/components/helpers-display.scss */
.vzrf .border-left {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left-color: #cccccc;
}
/* line 82, ../../scss/components/helpers-display.scss */
.vzrf .border-hoirz {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: #cccccc;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: #cccccc;
}
/* line 90, ../../scss/components/helpers-display.scss */
.vzrf .border-vert {
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-left-color: #cccccc;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  border-right-color: #cccccc;
}
/* line 98, ../../scss/components/helpers-display.scss */
.vzrf .border-top-none {
  border-top: none !important;
}
/* line 99, ../../scss/components/helpers-display.scss */
.vzrf .border-right-none {
  border-right: none !important;
}
/* line 100, ../../scss/components/helpers-display.scss */
.vzrf .border-bottom-none {
  border-bottom: none !important;
}
/* line 101, ../../scss/components/helpers-display.scss */
.vzrf .border-left-none {
  border-left: none !important;
}
/* line 102, ../../scss/components/helpers-display.scss */
.vzrf .border-all-none {
  border: none !important;
}
