@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-0 {
  opacity: 0;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-10 {
  opacity: 0.1;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-20 {
  opacity: 0.2;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-30 {
  opacity: 0.3;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-40 {
  opacity: 0.4;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-50 {
  opacity: 0.5;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-60 {
  opacity: 0.6;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-70 {
  opacity: 0.7;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-80 {
  opacity: 0.8;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-90 {
  opacity: 0.9;
}

/* line 9, ../../scss/components/helpers-opacity.scss */
.opacity-100 {
  opacity: 1;
}
