@charset "UTF-8";
/*! VZRF 2.20.0 */
/* Panels */
/* line 51, ../../scss/components/panels.scss */
.panel {
  border-style: none;
  border-width: 0;
  border-color: #dbdbdb;
  margin-bottom: 1.5rem;
  padding: 1.125rem;
  background: #f6f6f6;
}
/* line 25, ../../scss/components/panels.scss */
.panel > h1:first-of-type, .panel > h2:first-of-type, .panel > h3:first-of-type, .panel > h4:first-of-type, .panel > h5:first-of-type, .panel > h6:first-of-type, .panel > p:first-of-type {
  margin-top: 0;
}
/* line 33, ../../scss/components/panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 54, ../../scss/components/panels.scss */
.panel.radius {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
