@charset "UTF-8";
/* line 1, ../../scss/components/progress-bars-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
  /* Progress Bar */
}
/* line 52, ../../scss/components/progress-bars.scss */
.vzrf .progress {
  background-color: #e4e5e3;
  height: 0.9375rem;
  border: 0px solid #959595;
  padding: 0;
  margin-bottom: 0.75rem;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 56, ../../scss/components/progress-bars.scss */
.vzrf .progress .meter {
  background: #abe0f9;
  height: 100%;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 59, ../../scss/components/progress-bars.scss */
.vzrf .progress.secondary .meter, .vzrf .progress.warning .meter {
  background: #fbd362;
  height: 100%;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 61, ../../scss/components/progress-bars.scss */
.vzrf .progress.success .meter {
  background: #0c7810;
  height: 100%;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 62, ../../scss/components/progress-bars.scss */
.vzrf .progress.alert .meter, .vzrf .progress.error .meter {
  background: #a80309;
  height: 100%;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 65, ../../scss/components/progress-bars.scss */
.vzrf .progress.square {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 66, ../../scss/components/progress-bars.scss */
.vzrf .progress.square .meter {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 69, ../../scss/components/progress-bars.scss */
.vzrf .progress.radius {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 70, ../../scss/components/progress-bars.scss */
.vzrf .progress.radius .meter {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
