@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 5, ../../scss/components/tables-borders.scss */
table.no-borders {
  border: none;
}
/* line 8, ../../scss/components/tables-borders.scss */
table.no-borders th, table.no-borders td {
  border: none;
}
/* line 13, ../../scss/components/tables-borders.scss */
table.horiz-borders {
  border-left: none;
  border-right: none;
}
/* line 17, ../../scss/components/tables-borders.scss */
table.horiz-borders th, table.horiz-borders td {
  border-left: none;
  border-right: none;
}
/* line 23, ../../scss/components/tables-borders.scss */
table.vert-borders {
  border-top: none;
  border-left: none;
}
/* line 27, ../../scss/components/tables-borders.scss */
table.vert-borders th, table.vert-borders td {
  border-top: none;
  border-bottom: none;
}
/* line 34, ../../scss/components/tables-borders.scss */
table th.vert-top, table td.vert-top {
  vertical-align: top;
}
/* line 35, ../../scss/components/tables-borders.scss */
table th.vert-middle, table td.vert-middle {
  vertical-align: middle;
}
/* line 36, ../../scss/components/tables-borders.scss */
table th.vert-bottom, table td.vert-bottom {
  vertical-align: bottom;
}
/* line 43, ../../scss/components/tables-borders.scss */
table thead.no-borders th, table thead.no-borders td,
table tbody.no-borders th,
table tbody.no-borders td,
table tfoot.no-borders th,
table tfoot.no-borders td {
  border: none;
}
/* line 51, ../../scss/components/tables-borders.scss */
table thead tr th.no-borders,
table thead tr td.no-borders,
table tbody tr th.no-borders,
table tbody tr td.no-borders,
table tfoot tr th.no-borders,
table tfoot tr td.no-borders {
  border: none;
}
/* line 60, ../../scss/components/tables-borders.scss */
table tr.no-borders th, table tr.no-borders td {
  border: none;
}
/* line 66, ../../scss/components/tables-borders.scss */
table tr.horiz-borders th, table tr.horiz-borders td {
  border-left: none;
  border-right: none;
}
/* line 73, ../../scss/components/tables-borders.scss */
table tr.vert-borders th, table tr.vert-borders td {
  border-left: none;
  border-right: none;
}
/* line 80, ../../scss/components/tables-borders.scss */
table tr.border-top-none th, table tr.border-top-none td {
  border-top: none;
}
/* line 86, ../../scss/components/tables-borders.scss */
table tr.border-bottom-none th, table tr.border-bottom-none td {
  border-bottom: none;
}
