@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 8, ../../scss/components/tables-vert-align.scss */
table thead.vert-top,
table tfoot.vert-top {
  vertical-align: top;
}
/* line 9, ../../scss/components/tables-vert-align.scss */
table thead.vert-middle,
table tfoot.vert-middle {
  vertical-align: middle;
}
/* line 10, ../../scss/components/tables-vert-align.scss */
table thead.vert-bottom,
table tfoot.vert-bottom {
  vertical-align: bottom;
}
/* line 13, ../../scss/components/tables-vert-align.scss */
table tbody.vert-top tr {
  vertical-align: top;
}
/* line 14, ../../scss/components/tables-vert-align.scss */
table tbody.vert-middle tr {
  vertical-align: middle;
}
/* line 15, ../../scss/components/tables-vert-align.scss */
table tbody.vert-bottom tr {
  vertical-align: bottom;
}
/* line 19, ../../scss/components/tables-vert-align.scss */
table tr.vert-top th, table tr.vert-top td {
  vertical-align: top;
}
/* line 21, ../../scss/components/tables-vert-align.scss */
table tr.vert-top th.vert-middle, table tr.vert-top td.vert-middle {
  vertical-align: middle;
}
/* line 22, ../../scss/components/tables-vert-align.scss */
table tr.vert-top th.vert-bottom, table tr.vert-top td.vert-bottom {
  vertical-align: bottom;
}
/* line 26, ../../scss/components/tables-vert-align.scss */
table tr.vert-middle th, table tr.vert-middle td {
  vertical-align: middle;
}
/* line 28, ../../scss/components/tables-vert-align.scss */
table tr.vert-middle th.vert-top, table tr.vert-middle td.vert-top {
  vertical-align: top;
}
/* line 29, ../../scss/components/tables-vert-align.scss */
table tr.vert-middle th.vert-bottom, table tr.vert-middle td.vert-bottom {
  vertical-align: bottom;
}
/* line 33, ../../scss/components/tables-vert-align.scss */
table tr.vert-bottom th, table tr.vert-bottom td {
  vertical-align: bottom;
}
/* line 35, ../../scss/components/tables-vert-align.scss */
table tr.vert-bottom th.vert-top, table tr.vert-bottom td.vert-top {
  vertical-align: top;
}
/* line 36, ../../scss/components/tables-vert-align.scss */
table tr.vert-bottom th.vert-middle, table tr.vert-bottom td.vert-middle {
  vertical-align: middle;
}
/* line 42, ../../scss/components/tables-vert-align.scss */
table.vert-top thead, table.vert-top tbody, table.vert-top tfoot {
  vertical-align: top;
}
/* line 46, ../../scss/components/tables-vert-align.scss */
table.vert-middle thead, table.vert-middle tbody, table.vert-middle tfoot {
  vertical-align: middle;
}
/* line 50, ../../scss/components/tables-vert-align.scss */
table.vert-bottom thead, table.vert-bottom tbody, table.vert-bottom tfoot {
  vertical-align: bottom;
}
