@charset "UTF-8";
/* line 1, ../../scss/components/tables-borders-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 5, ../../scss/components/tables-borders.scss */
.vzrf table.no-borders {
  border: none;
}
/* line 8, ../../scss/components/tables-borders.scss */
.vzrf table.no-borders th, .vzrf table.no-borders td {
  border: none;
}
/* line 13, ../../scss/components/tables-borders.scss */
.vzrf table.horiz-borders {
  border-left: none;
  border-right: none;
}
/* line 17, ../../scss/components/tables-borders.scss */
.vzrf table.horiz-borders th, .vzrf table.horiz-borders td {
  border-left: none;
  border-right: none;
}
/* line 23, ../../scss/components/tables-borders.scss */
.vzrf table.vert-borders {
  border-top: none;
  border-left: none;
}
/* line 27, ../../scss/components/tables-borders.scss */
.vzrf table.vert-borders th, .vzrf table.vert-borders td {
  border-top: none;
  border-bottom: none;
}
/* line 34, ../../scss/components/tables-borders.scss */
.vzrf table th.vert-top, .vzrf table td.vert-top {
  vertical-align: top;
}
/* line 35, ../../scss/components/tables-borders.scss */
.vzrf table th.vert-middle, .vzrf table td.vert-middle {
  vertical-align: middle;
}
/* line 36, ../../scss/components/tables-borders.scss */
.vzrf table th.vert-bottom, .vzrf table td.vert-bottom {
  vertical-align: bottom;
}
/* line 43, ../../scss/components/tables-borders.scss */
.vzrf table thead.no-borders th, .vzrf table thead.no-borders td,
.vzrf table tbody.no-borders th,
.vzrf table tbody.no-borders td,
.vzrf table tfoot.no-borders th,
.vzrf table tfoot.no-borders td {
  border: none;
}
/* line 51, ../../scss/components/tables-borders.scss */
.vzrf table thead tr th.no-borders,
.vzrf table thead tr td.no-borders,
.vzrf table tbody tr th.no-borders,
.vzrf table tbody tr td.no-borders,
.vzrf table tfoot tr th.no-borders,
.vzrf table tfoot tr td.no-borders {
  border: none;
}
/* line 60, ../../scss/components/tables-borders.scss */
.vzrf table tr.no-borders th, .vzrf table tr.no-borders td {
  border: none;
}
/* line 66, ../../scss/components/tables-borders.scss */
.vzrf table tr.horiz-borders th, .vzrf table tr.horiz-borders td {
  border-left: none;
  border-right: none;
}
/* line 73, ../../scss/components/tables-borders.scss */
.vzrf table tr.vert-borders th, .vzrf table tr.vert-borders td {
  border-left: none;
  border-right: none;
}
/* line 80, ../../scss/components/tables-borders.scss */
.vzrf table tr.border-top-none th, .vzrf table tr.border-top-none td {
  border-top: none;
}
/* line 86, ../../scss/components/tables-borders.scss */
.vzrf table tr.border-bottom-none th, .vzrf table tr.border-bottom-none td {
  border-bottom: none;
}
