@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 8, ../../scss/components/type-sizes.scss */
.text-tiny, .text-tiny > * {
  font-size: 0.625rem !important;
  line-height: 0.75rem;
}

/* line 12, ../../scss/components/type-sizes.scss */
.text-small, .text-small > * {
  font-size: 0.75rem !important;
  line-height: 1.125rem;
}

/* line 16, ../../scss/components/type-sizes.scss */
.text-normal, .text-normal > * {
  font-size: 0.875rem !important;
  line-height: 1.3125rem;
}

/* line 20, ../../scss/components/type-sizes.scss */
.text-large, .text-large > * {
  font-size: 1rem !important;
  line-height: 1.3125rem;
}

/* line 24, ../../scss/components/type-sizes.scss */
.text-xlarge, .text-xlarge > * {
  font-size: 1.125rem !important;
  line-height: 1.5rem;
}

/* line 28, ../../scss/components/type-sizes.scss */
.text-xxlarge, .text-xxlarge > * {
  font-size: 1.5rem !important;
  line-height: 1.875rem;
}

/* line 41, ../../scss/components/type-sizes.scss */
.text-xsmaller {
  font-size: .714em !important;
  line-height: 1.2;
}

/* line 45, ../../scss/components/type-sizes.scss */
.text-smaller {
  font-size: .857em !important;
  line-height: 1.5;
}

/* line 49, ../../scss/components/type-sizes.scss */
.text-inherit {
  font-size: inherit !important;
  line-height: inherit;
}

/* line 53, ../../scss/components/type-sizes.scss */
.text-larger {
  font-size: 1.143em !important;
  line-height: 1.3125;
}

/* line 57, ../../scss/components/type-sizes.scss */
.text-xlarger {
  font-size: 1.286em !important;
  line-height: 1.333;
}

/* line 61, ../../scss/components/type-sizes.scss */
.text-xxlarger {
  font-size: 1.714em !important;
  line-height: 1.25;
}

/* line 69, ../../scss/components/type-sizes.scss */
.line-height-tiny {
  line-height: 1 !important;
}

/* line 70, ../../scss/components/type-sizes.scss */
.line-height-small {
  line-height: 1.25 !important;
}

/* line 71, ../../scss/components/type-sizes.scss */
.line-height-medium {
  line-height: 1.5 !important;
}

/* line 72, ../../scss/components/type-sizes.scss */
.line-height-large {
  line-height: 1.75 !important;
}

/* line 73, ../../scss/components/type-sizes.scss */
.line-height-xlarge {
  line-height: 2 !important;
}
