@charset "UTF-8";
/* line 1, ../../scss/components/type-basic-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
  /* Typography resets */
  /* Default Link Styles */
  /* Default paragraph styles */
  /* Helpful Typography Defaults */
}
/* line 9, ../../scss/components/type-basic.scss */
.vzrf dl,
.vzrf dt,
.vzrf dd,
.vzrf ul,
.vzrf ol,
.vzrf li,
.vzrf h1,
.vzrf h2,
.vzrf h3,
.vzrf h4,
.vzrf h5,
.vzrf h6,
.vzrf pre,
.vzrf form,
.vzrf p,
.vzrf blockquote,
.vzrf th,
.vzrf td {
  margin: 0;
  padding: 0;
}
/* line 32, ../../scss/components/type-basic.scss */
.vzrf a {
  color: #0066BB;
  text-decoration: none;
  line-height: inherit;
}
/* line 37, ../../scss/components/type-basic.scss */
.vzrf a:hover {
  color: #00478e;
}
/* line 38, ../../scss/components/type-basic.scss */
.vzrf a:focus {
  color: #333333;
}
/* line 40, ../../scss/components/type-basic.scss */
.vzrf a img {
  border: none;
}
/* line 42, ../../scss/components/type-basic.scss */
.vzrf p a,
.vzrf a.underline {
  text-decoration: underline;
}
/* line 49, ../../scss/components/type-basic.scss */
.vzrf p, .vzrf .p {
  font-family: inherit;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-rendering: optimizeLegibility;
}
/* line 57, ../../scss/components/type-basic.scss */
.vzrf p aside, .vzrf .p aside {
  font-size: 0.875rem;
  line-height: 1.5;
  font-style: italic;
}
/* line 64, ../../scss/components/type-basic.scss */
.vzrf .body-font {
  font-family: BrandFont, Arial, sans-serif;
}
/* line 68, ../../scss/components/type-basic.scss */
.vzrf .bold {
  font-weight: bold;
}
/* line 72, ../../scss/components/type-basic.scss */
.vzrf .italic {
  font-style: italic;
}
/* line 76, ../../scss/components/type-basic.scss */
.vzrf .normal-weight {
  font-weight: normal !important;
}
/* line 80, ../../scss/components/type-basic.scss */
.vzrf .normal-style {
  font-style: normal !important;
}
/* line 84, ../../scss/components/type-basic.scss */
.vzrf .no-wrap {
  white-space: nowrap;
}
/* line 85, ../../scss/components/type-basic.scss */
.vzrf .allow-wrap, .vzrf .break-word {
  word-wrap: break-word;
}
/* line 87, ../../scss/components/type-basic.scss */
.vzrf .caps, .vzrf .uppercase {
  text-transform: uppercase;
}
/* line 88, ../../scss/components/type-basic.scss */
.vzrf .lowercase {
  text-transform: lowercase;
}
/* line 89, ../../scss/components/type-basic.scss */
.vzrf .defaultcase, .vzrf .mixedcase, .vzrf .default-case, .vzrf .mixed-case {
  text-transform: none;
}
/* line 90, ../../scss/components/type-basic.scss */
.vzrf .capitalize, .vzrf .title-case {
  text-transform: capitalize;
}
/* line 92, ../../scss/components/type-basic.scss */
.vzrf .ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
/* line 99, ../../scss/components/type-basic.scss */
.vzrf em,
.vzrf i {
  font-style: italic;
  line-height: inherit;
}
/* line 105, ../../scss/components/type-basic.scss */
.vzrf strong,
.vzrf b {
  font-weight: bold;
  line-height: inherit;
}
/* line 111, ../../scss/components/type-basic.scss */
.vzrf small {
  font-size: 87.5%;
  line-height: inherit;
}
/* line 116, ../../scss/components/type-basic.scss */
.vzrf code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #000;
}
/* line 122, ../../scss/components/type-basic.scss */
.vzrf kbd {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #000;
  letter-spacing: -0.04375rem;
}
