@charset "UTF-8";
/*! VZRF 2.20.0 */
/* Default header styles */
/* line 5, ../../scss/components/type-headers.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h6, .h6 {
  font-family: BrandFont, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin-top: 0.875rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
}
/* line 15, ../../scss/components/type-headers.scss */
h1[class*="icon-"], h2[class*="icon-"], h3[class*="icon-"], h4[class*="icon-"], h5[class*="icon-"], h6[class*="icon-"],
.h1[class*="icon-"], .h2[class*="icon-"], .h3[class*="icon-"], .h4[class*="icon-"], .h6[class*="icon-"], .h6[class*="icon-"] {
  margin: 0;
}
/* line 19, ../../scss/components/type-headers.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h6 small, .h6 small {
  font-size: 87.5%;
}

/* line 26, ../../scss/components/type-headers.scss */
h1, .h1 {
  font-size: 2.25rem;
  color: #cd040b;
  line-height: 2.375rem;
}
/* line 31, ../../scss/components/type-headers.scss */
h1 em, .h1 em {
  font-style: normal;
}

/* line 36, ../../scss/components/type-headers.scss */
h2, .h2 {
  font-size: 1.875rem;
  color: #cd040b;
  line-height: 2rem;
}

/* line 42, ../../scss/components/type-headers.scss */
h3, .h3 {
  font-size: 1.5rem;
  color: #cd040b;
  line-height: 1.625rem;
}

/* line 48, ../../scss/components/type-headers.scss */
h4, .h4 {
  font-size: 1.125rem;
  color: #cd040b;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

/* line 55, ../../scss/components/type-headers.scss */
h5, .h5 {
  font-size: 1.125rem;
  color: #333;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

/* line 62, ../../scss/components/type-headers.scss */
h6, .h6 {
  font-size: 1rem;
  color: #333;
  line-height: 1.25rem;
  margin-bottom: 0.75rem;
}

/* line 69, ../../scss/components/type-headers.scss */
h1.big, .h1.big {
  font-size: 3.75rem;
  line-height: 3.875rem;
}

/* line 74, ../../scss/components/type-headers.scss */
h2.big, .h2.big {
  font-size: 3rem;
  line-height: 3.125rem;
}

/* line 79, ../../scss/components/type-headers.scss */
h3.big, .h3.big {
  font-size: 2.25rem;
  line-height: 2.375rem;
}

/* line 84, ../../scss/components/type-headers.scss */
h4.big, .h4.big {
  font-size: 1.875rem;
  line-height: 2rem;
}

/* line 89, ../../scss/components/type-headers.scss */
h5.big, .h5.big {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

/* line 94, ../../scss/components/type-headers.scss */
h6.big, .h6.big {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  /* line 100, ../../scss/components/type-headers.scss */
  h1, .h1 {
    font-size: 3.75rem;
    line-height: 3.875rem;
  }
  /* line 104, ../../scss/components/type-headers.scss */
  h1.small, .h1.small {
    font-size: 2.25rem;
    line-height: 2.375rem;
  }

  /* line 110, ../../scss/components/type-headers.scss */
  h2, .h2 {
    font-size: 3rem;
    line-height: 3.125rem;
  }
  /* line 114, ../../scss/components/type-headers.scss */
  h2.small, .h2.small {
    font-size: 1.875rem;
    line-height: 2rem;
  }

  /* line 120, ../../scss/components/type-headers.scss */
  h3, .h3 {
    font-size: 2.25rem;
    line-height: 2.375rem;
  }
  /* line 124, ../../scss/components/type-headers.scss */
  h3.small, .h3.small {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }

  /* line 130, ../../scss/components/type-headers.scss */
  h4, .h4 {
    font-size: 1.875rem;
    line-height: 2rem;
  }
  /* line 134, ../../scss/components/type-headers.scss */
  h4.small, .h4.small {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  /* line 140, ../../scss/components/type-headers.scss */
  h5, .h5 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  /* line 144, ../../scss/components/type-headers.scss */
  h5.small, .h5.small {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  /* line 150, ../../scss/components/type-headers.scss */
  h6, .h6 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  /* line 154, ../../scss/components/type-headers.scss */
  h6.small, .h6.small {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
