@charset "UTF-8";
/*! VZRF 2.20.0 */
/* Lists */
/* line 5, ../../scss/components/type-lists.scss */
ul,
ol,
dl {
  line-height: 1.5;
  margin-bottom: 1.5rem;
  list-style-position: outside;
}

/* line 16, ../../scss/components/type-lists.scss */
ul.spaced-zero > li:first-child, ol.spaced-zero > li:first-child {
  margin-top: 0;
}
/* line 19, ../../scss/components/type-lists.scss */
ul.spaced-zero > li, ol.spaced-zero > li {
  margin-top: 0;
}
/* line 22, ../../scss/components/type-lists.scss */
ul.spaced-zero > li:last-child, ol.spaced-zero > li:last-child {
  margin-bottom: 0;
}
/* line 28, ../../scss/components/type-lists.scss */
ul.spaced-small > li:first-child, ol.spaced-small > li:first-child {
  margin-top: 0;
}
/* line 31, ../../scss/components/type-lists.scss */
ul.spaced-small > li, ol.spaced-small > li {
  margin-top: 0.75rem;
}
/* line 34, ../../scss/components/type-lists.scss */
ul.spaced-small > li:last-child, ol.spaced-small > li:last-child {
  margin-bottom: 0.75rem;
}
/* line 42, ../../scss/components/type-lists.scss */
ul.spaced > li:first-child, ul.spaced-medium > li:first-child, ol.spaced > li:first-child, ol.spaced-medium > li:first-child {
  margin-top: 0;
}
/* line 45, ../../scss/components/type-lists.scss */
ul.spaced > li, ul.spaced-medium > li, ol.spaced > li, ol.spaced-medium > li {
  margin-top: 1.5rem;
}
/* line 48, ../../scss/components/type-lists.scss */
ul.spaced > li:last-child, ul.spaced-medium > li:last-child, ol.spaced > li:last-child, ol.spaced-medium > li:last-child {
  margin-bottom: 1.5rem;
}
/* line 55, ../../scss/components/type-lists.scss */
ul.spaced-large > li:first-child, ol.spaced-large > li:first-child {
  margin-top: 0;
}
/* line 58, ../../scss/components/type-lists.scss */
ul.spaced-large > li, ol.spaced-large > li {
  margin-top: 2.625rem;
}
/* line 61, ../../scss/components/type-lists.scss */
ul.spaced-large > li:last-child, ol.spaced-large > li:last-child {
  margin-bottom: 2.625rem;
}
/* line 66, ../../scss/components/type-lists.scss */
ul.clearing, ol.clearing {
  clear: both;
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
ul.clearing:after, ol.clearing:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
ul.clearing:after, ol.clearing:after {
  clear: both;
}
/* line 70, ../../scss/components/type-lists.scss */
ul.clearing > li, ol.clearing > li {
  /*@mixin clearfix*/
  *zoom: 1;
}
/* line 491, ../../scss/base/_global.scss */
ul.clearing > li:after, ol.clearing > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
ul.clearing > li:after, ol.clearing > li:after {
  clear: both;
}

/* line 75, ../../scss/components/type-lists.scss */
li > ul.spaced-small,
li > ol.spaced-small {
  margin-top: 0.75rem;
}

/* line 79, ../../scss/components/type-lists.scss */
li > ul.spaced,
li > ul.spaced-medium,
li > ol.spaced,
li > ol.spaced-medium {
  margin-top: 1.5rem;
}

/* line 85, ../../scss/components/type-lists.scss */
li > ul.spaced-large,
li > ol.spaced-large {
  margin-top: 2.625rem;
}

/* line 90, ../../scss/components/type-lists.scss */
ul {
  margin-left: 1.2rem;
}
/* line 92, ../../scss/components/type-lists.scss */
ul.no-bullet {
  margin-left: 0;
}
/* line 95, ../../scss/components/type-lists.scss */
ul.no-bullet li ul,
ul.no-bullet li ol {
  margin-left: 1.3125rem;
  margin-bottom: 0;
  list-style: none;
}
/* line 104, ../../scss/components/type-lists.scss */
ul.no-bullet .no-bullet {
  margin-left: 1.3125rem;
}

/* Unordered Lists */
/* line 112, ../../scss/components/type-lists.scss */
ul li ul,
ul li ol {
  margin-left: 1.3125rem;
  margin-bottom: 0;
}
/* line 118, ../../scss/components/type-lists.scss */
ul li ul.no-bullet,
ul li ol.no-bullet {
  margin-bottom: 1.5rem;
}
/* line 124, ../../scss/components/type-lists.scss */
ul.square {
  list-style-type: square;
  margin-left: 1.2rem;
}
/* line 125, ../../scss/components/type-lists.scss */
ul.circle {
  list-style-type: circle;
  margin-left: 1.2rem;
}
/* line 126, ../../scss/components/type-lists.scss */
ul.disc {
  list-style-type: disc;
  margin-left: 1.2rem;
}
/* line 127, ../../scss/components/type-lists.scss */
ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
/* line 131, ../../scss/components/type-lists.scss */
ol {
  margin-left: 1.4rem;
}
/* line 134, ../../scss/components/type-lists.scss */
ol li ul,
ol li ol {
  margin-left: 1.3125rem;
  margin-bottom: 0;
}

/* Definition Lists */
/* line 144, ../../scss/components/type-lists.scss */
dl dt {
  margin-bottom: 0.375rem;
  font-weight: bold;
}
/* line 148, ../../scss/components/type-lists.scss */
dl dd {
  margin-bottom: 0.75rem;
}
