@charset "UTF-8";
/* line 1, ../../scss/components/visibility-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
  /* tiny displays */
  /* small displays */
  /* medium displays */
  /* large displays */
  /* Orientation targeting */
  /* Specific visibility for tables */
}
@media only screen {
  /* line 200, ../../scss/components/visibility.scss */
  .vzrf .show-for-tiny-only, .vzrf .show-for-tiny-up, .vzrf .hide-for-small-only, .vzrf .hide-for-small-up, .vzrf .hide-for-medium-only, .vzrf .hide-for-medium-up, .vzrf .hide-for-large-only, .vzrf .hide-for-large-up {
    display: inherit !important;
  }
  /* line 203, ../../scss/components/visibility.scss */
  .vzrf .hide-for-tiny-only, .vzrf .hide-for-tiny-up, .vzrf .show-for-small-only, .vzrf .show-for-small-up, .vzrf .show-for-medium-only, .vzrf .show-for-medium-up, .vzrf .show-for-large-only, .vzrf .show-for-large-up {
    display: none !important;
  }
  /* line 207, ../../scss/components/visibility.scss */
  .vzrf table.show-for-tiny-only, .vzrf table.show-for-tiny-up, .vzrf table.hide-for-small-only, .vzrf table.hide-for-small-up, .vzrf table.hide-for-medium-only, .vzrf table.hide-for-medium-up, .vzrf table.hide-for-large-only, .vzrf table.hide-for-large-up {
    display: table;
  }
  /* line 210, ../../scss/components/visibility.scss */
  .vzrf thead.show-for-tiny-only, .vzrf thead.show-for-tiny-up, .vzrf thead.hide-for-small-only, .vzrf thead.hide-for-small-up, .vzrf thead.hide-for-medium-only, .vzrf thead.hide-for-medium-up, .vzrf thead.hide-for-large-only, .vzrf thead.hide-for-large-up {
    display: table-header-group !important;
  }
  /* line 213, ../../scss/components/visibility.scss */
  .vzrf tbody.show-for-tiny-only, .vzrf tbody.show-for-tiny-up, .vzrf tbody.hide-for-small-only, .vzrf tbody.hide-for-small-up, .vzrf tbody.hide-for-medium-only, .vzrf tbody.hide-for-medium-up, .vzrf tbody.hide-for-large-only, .vzrf tbody.hide-for-large-up {
    display: table-row-group !important;
  }
  /* line 216, ../../scss/components/visibility.scss */
  .vzrf tr.show-for-tiny-only, .vzrf tr.show-for-tiny-up, .vzrf tr.hide-for-small-only, .vzrf tr.hide-for-small-up, .vzrf tr.hide-for-medium-only, .vzrf tr.hide-for-medium-up, .vzrf tr.hide-for-large-only, .vzrf tr.hide-for-large-up {
    display: table-row !important;
  }
  /* line 219, ../../scss/components/visibility.scss */
  .vzrf th.show-for-tiny-only, .vzrf td.show-for-tiny-only, .vzrf th.show-for-tiny-up, .vzrf td.show-for-tiny-up, .vzrf th.hide-for-small-only, .vzrf td.hide-for-small-only, .vzrf th.hide-for-small-up, .vzrf td.hide-for-small-up, .vzrf th.hide-for-medium-only, .vzrf td.hide-for-medium-only, .vzrf th.hide-for-medium-up, .vzrf td.hide-for-medium-up, .vzrf th.hide-for-large-only, .vzrf td.hide-for-large-only, .vzrf th.hide-for-large-up, .vzrf td.hide-for-large-up {
    display: table-cell !important;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .vzrf .hide-for-tiny-only, .vzrf .show-for-tiny-up, .vzrf .show-for-small-only, .vzrf .show-for-small-up, .vzrf .hide-for-medium-only, .vzrf .hide-for-medium-up, .vzrf .hide-for-large-only, .vzrf .hide-for-large-up {
    display: inherit !important;
  }
  /* line 203, ../../scss/components/visibility.scss */
  .vzrf .show-for-tiny-only, .vzrf .hide-for-tiny-up, .vzrf .hide-for-small-only, .vzrf .hide-for-small-up, .vzrf .show-for-medium-only, .vzrf .show-for-medium-up, .vzrf .show-for-large-only, .vzrf .show-for-large-up {
    display: none !important;
  }
  /* line 207, ../../scss/components/visibility.scss */
  .vzrf table.hide-for-tiny-only, .vzrf table.show-for-tiny-up, .vzrf table.show-for-small-only, .vzrf table.show-for-small-up, .vzrf table.hide-for-medium-only, .vzrf table.hide-for-medium-up, .vzrf table.hide-for-large-only, .vzrf table.hide-for-large-up {
    display: table;
  }
  /* line 210, ../../scss/components/visibility.scss */
  .vzrf thead.hide-for-tiny-only, .vzrf thead.show-for-tiny-up, .vzrf thead.show-for-small-only, .vzrf thead.show-for-small-up, .vzrf thead.hide-for-medium-only, .vzrf thead.hide-for-medium-up, .vzrf thead.hide-for-large-only, .vzrf thead.hide-for-large-up {
    display: table-header-group !important;
  }
  /* line 213, ../../scss/components/visibility.scss */
  .vzrf tbody.hide-for-tiny-only, .vzrf tbody.show-for-tiny-up, .vzrf tbody.show-for-small-only, .vzrf tbody.show-for-small-up, .vzrf tbody.hide-for-medium-only, .vzrf tbody.hide-for-medium-up, .vzrf tbody.hide-for-large-only, .vzrf tbody.hide-for-large-up {
    display: table-row-group !important;
  }
  /* line 216, ../../scss/components/visibility.scss */
  .vzrf tr.hide-for-tiny-only, .vzrf tr.show-for-tiny-up, .vzrf tr.show-for-small-only, .vzrf tr.show-for-small-up, .vzrf tr.hide-for-medium-only, .vzrf tr.hide-for-medium-up, .vzrf tr.hide-for-large-only, .vzrf tr.hide-for-large-up {
    display: table-row !important;
  }
  /* line 219, ../../scss/components/visibility.scss */
  .vzrf th.hide-for-tiny-only, .vzrf td.hide-for-tiny-only, .vzrf th.show-for-tiny-up, .vzrf td.show-for-tiny-up, .vzrf th.show-for-small-only, .vzrf td.show-for-small-only, .vzrf th.show-for-small-up, .vzrf td.show-for-small-up, .vzrf th.hide-for-medium-only, .vzrf td.hide-for-medium-only, .vzrf th.hide-for-medium-up, .vzrf td.hide-for-medium-up, .vzrf th.hide-for-large-only, .vzrf td.hide-for-large-only, .vzrf th.hide-for-large-up, .vzrf td.hide-for-large-up {
    display: table-cell !important;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .vzrf .hide-for-tiny-only, .vzrf .show-for-tiny-up, .vzrf .hide-for-small-only, .vzrf .show-for-small-up, .vzrf .show-for-medium-only, .vzrf .show-for-medium-up, .vzrf .hide-for-large-only, .vzrf .hide-for-large-up {
    display: inherit !important;
  }
  /* line 203, ../../scss/components/visibility.scss */
  .vzrf .show-for-tiny-only, .vzrf .hide-for-tiny-up, .vzrf .show-for-small-only, .vzrf .hide-for-small-up, .vzrf .hide-for-medium-only, .vzrf .hide-for-medium-up, .vzrf .show-for-large-only, .vzrf .show-for-large-up {
    display: none !important;
  }
  /* line 207, ../../scss/components/visibility.scss */
  .vzrf table.hide-for-tiny-only, .vzrf table.show-for-tiny-up, .vzrf table.hide-for-small-only, .vzrf table.show-for-small-up, .vzrf table.show-for-medium-only, .vzrf table.show-for-medium-up, .vzrf table.hide-for-large-only, .vzrf table.hide-for-large-up {
    display: table;
  }
  /* line 210, ../../scss/components/visibility.scss */
  .vzrf thead.hide-for-tiny-only, .vzrf thead.show-for-tiny-up, .vzrf thead.hide-for-small-only, .vzrf thead.show-for-small-up, .vzrf thead.show-for-medium-only, .vzrf thead.show-for-medium-up, .vzrf thead.hide-for-large-only, .vzrf thead.hide-for-large-up {
    display: table-header-group !important;
  }
  /* line 213, ../../scss/components/visibility.scss */
  .vzrf tbody.hide-for-tiny-only, .vzrf tbody.show-for-tiny-up, .vzrf tbody.hide-for-small-only, .vzrf tbody.show-for-small-up, .vzrf tbody.show-for-medium-only, .vzrf tbody.show-for-medium-up, .vzrf tbody.hide-for-large-only, .vzrf tbody.hide-for-large-up {
    display: table-row-group !important;
  }
  /* line 216, ../../scss/components/visibility.scss */
  .vzrf tr.hide-for-tiny-only, .vzrf tr.show-for-tiny-up, .vzrf tr.hide-for-small-only, .vzrf tr.show-for-small-up, .vzrf tr.show-for-medium-only, .vzrf tr.show-for-medium-up, .vzrf tr.hide-for-large-only, .vzrf tr.hide-for-large-up {
    display: table-row !important;
  }
  /* line 219, ../../scss/components/visibility.scss */
  .vzrf th.hide-for-tiny-only, .vzrf td.hide-for-tiny-only, .vzrf th.show-for-tiny-up, .vzrf td.show-for-tiny-up, .vzrf th.hide-for-small-only, .vzrf td.hide-for-small-only, .vzrf th.show-for-small-up, .vzrf td.show-for-small-up, .vzrf th.show-for-medium-only, .vzrf td.show-for-medium-only, .vzrf th.show-for-medium-up, .vzrf td.show-for-medium-up, .vzrf th.hide-for-large-only, .vzrf td.hide-for-large-only, .vzrf th.hide-for-large-up, .vzrf td.hide-for-large-up {
    display: table-cell !important;
  }
}
@media only screen and (min-width: 60.625rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .vzrf .hide-for-tiny-only, .vzrf .show-for-tiny-up, .vzrf .hide-for-small-only, .vzrf .show-for-small-up, .vzrf .hide-for-medium-only, .vzrf .show-for-medium-up, .vzrf .show-for-large-only, .vzrf .show-for-large-up {
    display: inherit !important;
  }
  /* line 203, ../../scss/components/visibility.scss */
  .vzrf .show-for-tiny-only, .vzrf .hide-for-tiny-up, .vzrf .show-for-small-only, .vzrf .hide-for-small-up, .vzrf .show-for-medium-only, .vzrf .hide-for-medium-up, .vzrf .hide-for-large-only, .vzrf .hide-for-large-up {
    display: none !important;
  }
  /* line 207, ../../scss/components/visibility.scss */
  .vzrf table.hide-for-tiny-only, .vzrf table.show-for-tiny-up, .vzrf table.hide-for-small-only, .vzrf table.show-for-small-up, .vzrf table.hide-for-medium-only, .vzrf table.show-for-medium-up, .vzrf table.show-for-large-only, .vzrf table.show-for-large-up {
    display: table;
  }
  /* line 210, ../../scss/components/visibility.scss */
  .vzrf thead.hide-for-tiny-only, .vzrf thead.show-for-tiny-up, .vzrf thead.hide-for-small-only, .vzrf thead.show-for-small-up, .vzrf thead.hide-for-medium-only, .vzrf thead.show-for-medium-up, .vzrf thead.show-for-large-only, .vzrf thead.show-for-large-up {
    display: table-header-group !important;
  }
  /* line 213, ../../scss/components/visibility.scss */
  .vzrf tbody.hide-for-tiny-only, .vzrf tbody.show-for-tiny-up, .vzrf tbody.hide-for-small-only, .vzrf tbody.show-for-small-up, .vzrf tbody.hide-for-medium-only, .vzrf tbody.show-for-medium-up, .vzrf tbody.show-for-large-only, .vzrf tbody.show-for-large-up {
    display: table-row-group !important;
  }
  /* line 216, ../../scss/components/visibility.scss */
  .vzrf tr.hide-for-tiny-only, .vzrf tr.show-for-tiny-up, .vzrf tr.hide-for-small-only, .vzrf tr.show-for-small-up, .vzrf tr.hide-for-medium-only, .vzrf tr.show-for-medium-up, .vzrf tr.show-for-large-only, .vzrf tr.show-for-large-up {
    display: table-row !important;
  }
  /* line 219, ../../scss/components/visibility.scss */
  .vzrf th.hide-for-tiny-only, .vzrf td.hide-for-tiny-only, .vzrf th.show-for-tiny-up, .vzrf td.show-for-tiny-up, .vzrf th.hide-for-small-only, .vzrf td.hide-for-small-only, .vzrf th.show-for-small-up, .vzrf td.show-for-small-up, .vzrf th.hide-for-medium-only, .vzrf td.hide-for-medium-only, .vzrf th.show-for-medium-up, .vzrf td.show-for-medium-up, .vzrf th.show-for-large-only, .vzrf td.show-for-large-only, .vzrf th.show-for-large-up, .vzrf td.show-for-large-up {
    display: table-cell !important;
  }
}
/* line 233, ../../scss/components/visibility.scss */
.vzrf .show-for-landscape,
.vzrf .hide-for-portrait {
  display: inherit !important;
}
/* line 235, ../../scss/components/visibility.scss */
.vzrf .hide-for-landscape,
.vzrf .show-for-portrait {
  display: none !important;
}
/* line 240, ../../scss/components/visibility.scss */
.vzrf table.hide-for-landscape, .vzrf table.show-for-portrait {
  display: table;
}
/* line 244, ../../scss/components/visibility.scss */
.vzrf thead.hide-for-landscape, .vzrf thead.show-for-portrait {
  display: table-header-group !important;
}
/* line 248, ../../scss/components/visibility.scss */
.vzrf tbody.hide-for-landscape, .vzrf tbody.show-for-portrait {
  display: table-row-group !important;
}
/* line 252, ../../scss/components/visibility.scss */
.vzrf tr.hide-for-landscape, .vzrf tr.show-for-portrait {
  display: table-row !important;
}
/* line 257, ../../scss/components/visibility.scss */
.vzrf td.hide-for-landscape, .vzrf td.show-for-portrait,
.vzrf th.hide-for-landscape,
.vzrf th.show-for-portrait {
  display: table-cell !important;
}
@media only screen and (orientation: landscape) {
  /* line 1, ../../scss/components/visibility-namespaced.scss */
  .vzrf {
    /* Specific visibility for tables */
  }
  /* line 262, ../../scss/components/visibility.scss */
  .vzrf .show-for-landscape,
  .vzrf .hide-for-portrait {
    display: inherit !important;
  }
  /* line 264, ../../scss/components/visibility.scss */
  .vzrf .hide-for-landscape,
  .vzrf .show-for-portrait {
    display: none !important;
  }
  /* line 269, ../../scss/components/visibility.scss */
  .vzrf table.show-for-landscape, .vzrf table.hide-for-portrait {
    display: table;
  }
  /* line 273, ../../scss/components/visibility.scss */
  .vzrf thead.show-for-landscape, .vzrf thead.hide-for-portrait {
    display: table-header-group !important;
  }
  /* line 277, ../../scss/components/visibility.scss */
  .vzrf tbody.show-for-landscape, .vzrf tbody.hide-for-portrait {
    display: table-row-group !important;
  }
  /* line 281, ../../scss/components/visibility.scss */
  .vzrf tr.show-for-landscape, .vzrf tr.hide-for-portrait {
    display: table-row !important;
  }
  /* line 286, ../../scss/components/visibility.scss */
  .vzrf td.show-for-landscape, .vzrf td.hide-for-portrait,
  .vzrf th.show-for-landscape,
  .vzrf th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 1, ../../scss/components/visibility-namespaced.scss */
  .vzrf {
    /* Specific visibility for tables */
  }
  /* line 292, ../../scss/components/visibility.scss */
  .vzrf .show-for-portrait,
  .vzrf .hide-for-landscape {
    display: inherit !important;
  }
  /* line 294, ../../scss/components/visibility.scss */
  .vzrf .hide-for-portrait,
  .vzrf .show-for-landscape {
    display: none !important;
  }
  /* line 299, ../../scss/components/visibility.scss */
  .vzrf table.show-for-portrait, .vzrf table.hide-for-landscape {
    display: table;
  }
  /* line 303, ../../scss/components/visibility.scss */
  .vzrf thead.show-for-portrait, .vzrf thead.hide-for-landscape {
    display: table-header-group !important;
  }
  /* line 307, ../../scss/components/visibility.scss */
  .vzrf tbody.show-for-portrait, .vzrf tbody.hide-for-landscape {
    display: table-row-group !important;
  }
  /* line 311, ../../scss/components/visibility.scss */
  .vzrf tr.show-for-portrait, .vzrf tr.hide-for-landscape {
    display: table-row !important;
  }
  /* line 316, ../../scss/components/visibility.scss */
  .vzrf td.show-for-portrait, .vzrf td.hide-for-landscape,
  .vzrf th.show-for-portrait,
  .vzrf th.hide-for-landscape {
    display: table-cell !important;
  }
}
