@charset "UTF-8";
/*! VZRF 2.20.0 */
/* tiny displays */
@media only screen {
  /* line 200, ../../scss/components/visibility.scss */
  .show-for-tiny-only, .show-for-tiny-up, .hide-for-small-only, .hide-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important;
  }

  /* line 203, ../../scss/components/visibility.scss */
  .hide-for-tiny-only, .hide-for-tiny-up, .show-for-small-only, .show-for-small-up, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: none !important;
  }

  /* line 207, ../../scss/components/visibility.scss */
  table.show-for-tiny-only, table.show-for-tiny-up, table.hide-for-small-only, table.hide-for-small-up, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-large-only, table.hide-for-large-up {
    display: table;
  }

  /* line 210, ../../scss/components/visibility.scss */
  thead.show-for-tiny-only, thead.show-for-tiny-up, thead.hide-for-small-only, thead.hide-for-small-up, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-large-only, thead.hide-for-large-up {
    display: table-header-group !important;
  }

  /* line 213, ../../scss/components/visibility.scss */
  tbody.show-for-tiny-only, tbody.show-for-tiny-up, tbody.hide-for-small-only, tbody.hide-for-small-up, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-large-only, tbody.hide-for-large-up {
    display: table-row-group !important;
  }

  /* line 216, ../../scss/components/visibility.scss */
  tr.show-for-tiny-only, tr.show-for-tiny-up, tr.hide-for-small-only, tr.hide-for-small-up, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-large-only, tr.hide-for-large-up {
    display: table-row !important;
  }

  /* line 219, ../../scss/components/visibility.scss */
  th.show-for-tiny-only, td.show-for-tiny-only, th.show-for-tiny-up, td.show-for-tiny-up, th.hide-for-small-only, td.hide-for-small-only, th.hide-for-small-up, td.hide-for-small-up, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up {
    display: table-cell !important;
  }
}
/* small displays */
@media only screen and (min-width: 30.0625rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .hide-for-tiny-only, .show-for-tiny-up, .show-for-small-only, .show-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important;
  }

  /* line 203, ../../scss/components/visibility.scss */
  .show-for-tiny-only, .hide-for-tiny-up, .hide-for-small-only, .hide-for-small-up, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: none !important;
  }

  /* line 207, ../../scss/components/visibility.scss */
  table.hide-for-tiny-only, table.show-for-tiny-up, table.show-for-small-only, table.show-for-small-up, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-large-only, table.hide-for-large-up {
    display: table;
  }

  /* line 210, ../../scss/components/visibility.scss */
  thead.hide-for-tiny-only, thead.show-for-tiny-up, thead.show-for-small-only, thead.show-for-small-up, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-large-only, thead.hide-for-large-up {
    display: table-header-group !important;
  }

  /* line 213, ../../scss/components/visibility.scss */
  tbody.hide-for-tiny-only, tbody.show-for-tiny-up, tbody.show-for-small-only, tbody.show-for-small-up, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-large-only, tbody.hide-for-large-up {
    display: table-row-group !important;
  }

  /* line 216, ../../scss/components/visibility.scss */
  tr.hide-for-tiny-only, tr.show-for-tiny-up, tr.show-for-small-only, tr.show-for-small-up, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-large-only, tr.hide-for-large-up {
    display: table-row !important;
  }

  /* line 219, ../../scss/components/visibility.scss */
  th.hide-for-tiny-only, td.hide-for-tiny-only, th.show-for-tiny-up, td.show-for-tiny-up, th.show-for-small-only, td.show-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up {
    display: table-cell !important;
  }
}
/* medium displays */
@media only screen and (min-width: 48rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .hide-for-tiny-only, .show-for-tiny-up, .hide-for-small-only, .show-for-small-up, .show-for-medium-only, .show-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: inherit !important;
  }

  /* line 203, ../../scss/components/visibility.scss */
  .show-for-tiny-only, .hide-for-tiny-up, .show-for-small-only, .hide-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: none !important;
  }

  /* line 207, ../../scss/components/visibility.scss */
  table.hide-for-tiny-only, table.show-for-tiny-up, table.hide-for-small-only, table.show-for-small-up, table.show-for-medium-only, table.show-for-medium-up, table.hide-for-large-only, table.hide-for-large-up {
    display: table;
  }

  /* line 210, ../../scss/components/visibility.scss */
  thead.hide-for-tiny-only, thead.show-for-tiny-up, thead.hide-for-small-only, thead.show-for-small-up, thead.show-for-medium-only, thead.show-for-medium-up, thead.hide-for-large-only, thead.hide-for-large-up {
    display: table-header-group !important;
  }

  /* line 213, ../../scss/components/visibility.scss */
  tbody.hide-for-tiny-only, tbody.show-for-tiny-up, tbody.hide-for-small-only, tbody.show-for-small-up, tbody.show-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-large-only, tbody.hide-for-large-up {
    display: table-row-group !important;
  }

  /* line 216, ../../scss/components/visibility.scss */
  tr.hide-for-tiny-only, tr.show-for-tiny-up, tr.hide-for-small-only, tr.show-for-small-up, tr.show-for-medium-only, tr.show-for-medium-up, tr.hide-for-large-only, tr.hide-for-large-up {
    display: table-row !important;
  }

  /* line 219, ../../scss/components/visibility.scss */
  th.hide-for-tiny-only, td.hide-for-tiny-only, th.show-for-tiny-up, td.show-for-tiny-up, th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.show-for-medium-only, td.show-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up {
    display: table-cell !important;
  }
}
/* large displays */
@media only screen and (min-width: 60.625rem) {
  /* line 200, ../../scss/components/visibility.scss */
  .hide-for-tiny-only, .show-for-tiny-up, .hide-for-small-only, .show-for-small-up, .hide-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up {
    display: inherit !important;
  }

  /* line 203, ../../scss/components/visibility.scss */
  .show-for-tiny-only, .hide-for-tiny-up, .show-for-small-only, .hide-for-small-up, .show-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up {
    display: none !important;
  }

  /* line 207, ../../scss/components/visibility.scss */
  table.hide-for-tiny-only, table.show-for-tiny-up, table.hide-for-small-only, table.show-for-small-up, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-only, table.show-for-large-up {
    display: table;
  }

  /* line 210, ../../scss/components/visibility.scss */
  thead.hide-for-tiny-only, thead.show-for-tiny-up, thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-only, thead.show-for-large-up {
    display: table-header-group !important;
  }

  /* line 213, ../../scss/components/visibility.scss */
  tbody.hide-for-tiny-only, tbody.show-for-tiny-up, tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-only, tbody.show-for-large-up {
    display: table-row-group !important;
  }

  /* line 216, ../../scss/components/visibility.scss */
  tr.hide-for-tiny-only, tr.show-for-tiny-up, tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-only, tr.show-for-large-up {
    display: table-row !important;
  }

  /* line 219, ../../scss/components/visibility.scss */
  th.hide-for-tiny-only, td.hide-for-tiny-only, th.show-for-tiny-up, td.show-for-tiny-up, th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.show-for-large-only, td.show-for-large-only, th.show-for-large-up, td.show-for-large-up {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 233, ../../scss/components/visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 235, ../../scss/components/visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */
/* line 240, ../../scss/components/visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 244, ../../scss/components/visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 248, ../../scss/components/visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 252, ../../scss/components/visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 257, ../../scss/components/visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 262, ../../scss/components/visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 264, ../../scss/components/visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 269, ../../scss/components/visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 273, ../../scss/components/visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 277, ../../scss/components/visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 281, ../../scss/components/visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 286, ../../scss/components/visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 292, ../../scss/components/visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 294, ../../scss/components/visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */
  /* line 299, ../../scss/components/visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 303, ../../scss/components/visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 307, ../../scss/components/visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 311, ../../scss/components/visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 316, ../../scss/components/visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
