@charset "UTF-8";
/* line 1, ../../scss/widgets/drop-list-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 4, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list {
  position: relative;
  display: inline-block;
  min-height: 2.3125rem;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}
/* line 12, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list input,
.vzrf .w_drop-list select {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 18, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list .vzicon.drop-list_button {
  float: right;
  color: #cd040b;
  font-size: 0.75rem;
}
/* line 23, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list .vzicon.form {
  margin-top: 0.0625rem;
}
/* line 27, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.disabled, .vzrf .w_drop-list.disabled [data-drop-list-button] {
  opacity: 0.5;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* line 35, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active {
  z-index: 575;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
}
/* line 44, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active [data-drop-list-button] {
  padding-bottom: 0.4375rem;
  margin-bottom: -0.4375rem;
}
/* line 49, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  text-align: left;
  top: -9999px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-top: 0.0625rem solid #f6f6f6;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0.1875rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
}
/* line 62, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > li {
  /*@mixin clearfix*/
  *zoom: 1;
  background-color: #fff;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .drop-list_list > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .drop-list_list > li:after {
  clear: both;
}
/* line 68, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > li > a,
.vzrf .drop-list_list > li > span,
.vzrf .drop-list_list > li > div {
  background-color: transparent;
}
/* line 75, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 88, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a,
.vzrf .drop-list_list > li > a,
.vzrf .drop-list_list > li > span,
.vzrf .drop-list_list > li > div,
.vzrf .drop-list_list > li > .drop-list_text {
  padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  font-size: 0.75rem;
  margin: 0;
  display: inline-block;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 100%;
  text-decoration: none;
}
/* line 941, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a:hover,
.vzrf .drop-list_list > li > a:hover,
.vzrf .drop-list_list > li > span:hover,
.vzrf .drop-list_list > li > div:hover,
.vzrf .drop-list_list > li > .drop-list_text:hover {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
}
/* line 97, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a:focus,
.vzrf .drop-list_list > li:focus > a,
.vzrf .drop-list_list > li:focus > span,
.vzrf .drop-list_list > li:focus > div,
.vzrf .drop-list_list > li:focus > .drop-list_text {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
}
/* line 107, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a.active,
.vzrf .drop-list_list > li.active > a,
.vzrf .drop-list_list > li.active > span,
.vzrf .drop-list_list > li.active > div,
.vzrf .drop-list_list > li.active > .drop-list_text {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active:hover,
.vzrf .drop-list_list > li.active > a:hover,
.vzrf .drop-list_list > li.active > span:hover,
.vzrf .drop-list_list > li.active > div:hover,
.vzrf .drop-list_list > li.active > .drop-list_text:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active::before,
.vzrf .drop-list_list > li.active > a::before,
.vzrf .drop-list_list > li.active > span::before,
.vzrf .drop-list_list > li.active > div::before,
.vzrf .drop-list_list > li.active > .drop-list_text::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active::before,
.vzrf .drop-list_list > li.active > a::before,
.vzrf .drop-list_list > li.active > span::before,
.vzrf .drop-list_list > li.active > div::before,
.vzrf .drop-list_list > li.active > .drop-list_text::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 121, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.m_rev .drop-list_list {
  right: 0;
  left: auto;
}
/* line 126, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active .drop-list_list {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  top: 2.5rem;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
}
/* line 138, ../../scss/widgets/drop-list.scss */
.vzrf .w_top-bar .w_drop-list.active .drop-list_list {
  top: 2.8125rem;
}
/* line 141, ../../scss/widgets/drop-list.scss */
.vzrf .w_filter-bar .w_drop-list.active .drop-list_list {
  top: 2.4375rem;
}

/* line 1, ../../scss/widgets/filter-bar-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 18, ../../scss/widgets/filter-bar.scss */
.vzrf .w_filter-bar {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 0.0625rem solid #cccccc;
  border-top: 0.0625rem solid #cccccc;
}
/* line 26, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_list {
  margin: 0;
}
/* line 35, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item {
  position: relative;
  background-color: #fff;
  color: #4b4b4b;
  border-right: 0.0625rem solid #cccccc;
  height: 2.9375rem;
  max-height: 2.9375rem;
  cursor: pointer;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  padding: 0.375rem 0.625rem !important;
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_item:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_item::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 49, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item:before {
  content: '\e76e';
  position: absolute;
  font-size: 0.75rem;
  right: 0.625rem;
  top: 45%;
  margin-top: -0.25rem;
  color: #cd040b;
}
/* line 61, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item:first-child {
  border-left: 0.0625rem solid #cccccc;
}
/* line 65, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item[data-filter-bar-item]:hover {
  background-color: #f9f9f9;
}
/* line 69, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active, .vzrf .filter-bar_item.active[data-filter-bar-item] {
  background-color: #fff;
  z-index: 575;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
}
/* line 76, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item input,
.vzrf .filter-bar_item select {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: -0.25rem;
}
/* line 84, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item .vzicon.form {
  margin-top: 0.0625rem;
}
/* line 89, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_title,
.vzrf .filter-bar_selected {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
/* line 98, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_title {
  font-size: 0.75rem;
  position: relative;
  padding-right: 0.9375rem;
}
/* line 103, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before,
.vzrf [data-filter-bar="inactive"] {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before:hover,
.vzrf [data-filter-bar="inactive"]:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before::before,
.vzrf [data-filter-bar="inactive"]::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 106, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before:before,
.vzrf [data-filter-bar="inactive"]:before {
  content: '\e76e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 45%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 117, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_selected {
  font-size: 0.875rem;
  color: #cd040b;
  font-weight: bold;
}
/* line 122, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_selected.shake {
  animation: shake linear .15s;
  animation-iteration-count: 2;
  -webkit-animation: shake linear .15s;
  -webkit-animation-iteration-count: 2;
  -moz-animation: shake linear .15s;
  -moz-animation-iteration-count: 2;
  -o-animation: shake linear .15s;
  -o-animation-iteration-count: 2;
  -ms-animation: shake linear .3s;
  -ms-animation-iteration-count: 2;
}
/* line 135, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_selected {
  color: #4b4b4b;
}
/* line 140, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.disabled * {
  opacity: .7;
}
/* line 144, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.disabled .filter-bar_selected {
  color: #4b4b4b;
}
/* line 154, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices {
  min-width: 100%;
  max-width: 150%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  text-align: left;
  top: -9999px;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  box-shadow: 0.1875rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.25);
}
/* line 172, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li > a {
  padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  font-size: 0.75rem;
  margin: 0;
  display: inline-block;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}
/* line 941, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li > a:hover {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
}
/* line 177, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li {
  /*@mixin clearfix*/
  *zoom: 1;
  background-color: #fff;
  color: #333;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li:after {
  clear: both;
}
/* line 184, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li:focus {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
}
/* line 192, ../../scss/widgets/filter-bar.scss */
.vzrf .active > .filter-bar_choices {
  opacity: 1;
  top: 100%;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  height: auto;
}
/* line 202, ../../scss/widgets/filter-bar.scss */
.vzrf .m_rev > .filter-bar_choices {
  right: 0;
  left: auto;
}
/* line 208, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choice.active > a,
.vzrf .filter-bar_choice.active:hover > a,
.vzrf .filter-bar_choice > a:active {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a:hover,
.vzrf .filter-bar_choice.active:hover > a:hover,
.vzrf .filter-bar_choice > a:active:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a::before,
.vzrf .filter-bar_choice.active:hover > a::before,
.vzrf .filter-bar_choice > a:active::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a::before,
.vzrf .filter-bar_choice.active:hover > a::before,
.vzrf .filter-bar_choice > a:active::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 215, ../../scss/widgets/filter-bar.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a::before,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a::before,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}

/* line 1, ../../scss/widgets/list-control-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 28, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
@media only screen and (min-width: 48rem) {
  /* line 36, ../../scss/widgets/list-control.scss */
  .vzrf .main > .w_list-control.m_flex-gutters > li,
  .vzrf .main > .w_list-control > li.m_flex-gutters {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
/* line 44, ../../scss/widgets/list-control.scss */
.vzrf .row .w_list-control.m_flex-gutters > li,
.vzrf .row .w_list-control > li.m_flex-gutters {
  margin-left: -1.125rem;
  margin-right: -1.125rem;
}
@media only screen and (min-width: 48rem) {
  /* line 44, ../../scss/widgets/list-control.scss */
  .vzrf .row .w_list-control.m_flex-gutters > li,
  .vzrf .row .w_list-control > li.m_flex-gutters {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
}
/* line 59, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li {
  /*@mixin clearfix*/
  *zoom: 1;
  position: relative;
  min-height: 3.75rem;
  padding: 0.75rem 1.125rem 0.8125rem;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  font-size: 0.875rem;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_list-control > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_list-control > li:after {
  clear: both;
}
/* line 69, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li:first-child, .vzrf .w_list-control > li.m_header:first-child {
  border-top: 1px solid #cccccc !important;
}
/* line 74, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next,
.vzrf .w_list-control > li .m_link {
  margin-top: -0.75rem;
  margin-bottom: -0.8125rem;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
  padding: 0.75rem 1.125rem 0.8125rem;
  min-height: 3.625rem;
  /*@mixin clearfix*/
  *zoom: 1;
  display: block;
  cursor: pointer;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_list-control > li .m_next:after,
.vzrf .w_list-control > li .m_link:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_list-control > li .m_next:after,
.vzrf .w_list-control > li .m_link:after {
  clear: both;
}
/* line 20, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next.m_condensed, .vzrf .w_list-control > li .m_next .m_condensed, .vzrf .w_list-control > li .m_next.m_condensed.m_single, .vzrf .w_list-control > li .m_next .m_condensed.m_single,
.vzrf .w_list-control > li .m_link.m_condensed,
.vzrf .w_list-control > li .m_link .m_condensed,
.vzrf .w_list-control > li .m_link.m_condensed.m_single,
.vzrf .w_list-control > li .m_link .m_condensed.m_single {
  line-height: inherit;
}
/* line 79, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next, .vzrf .w_list-control > li .m_next:hover,
.vzrf .w_list-control > li .m_link,
.vzrf .w_list-control > li .m_link:hover {
  color: #333;
}
/* line 84, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next:active,
.vzrf .w_list-control > li .m_link:active {
  background-color: #f9f9f9;
}
/* line 88, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next:hover:before,
.vzrf .w_list-control > li .m_link:hover:before {
  color: #4b4b4b;
}
/* line 93, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next {
  padding-right: 3rem;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .w_list-control > li .m_next:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .w_list-control > li .m_next::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 98, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next::before {
  content: '\e631';
  position: absolute;
  font-size: 1.125rem;
  height: 1.125rem;
  width: 1.125rem;
  right: 1.125rem;
  top: 50%;
  margin-top: -0.5625rem;
  display: block;
  line-height: 1;
  text-align: center;
  color: #cd040b;
  transition: color 0.3s, right 0.3s;
  transition: color 0.3s, right 0.3s;
  transition: color 0.3s, right 0.3s;
  transition: color 0.3s, right 0.3s;
}
/* line 117, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next:hover::before {
  color: #a80309;
  right: 0.375rem;
}
/* line 122, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li .m_next:active::before {
  color: #990308;
}
/* line 129, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li:not(.m_accordion-details) p:last-child,
.vzrf .w_list-control > li:not(.m_accordion-details) ul:last-child,
.vzrf .w_list-control > li:not(.m_accordion-details) ol:last-child {
  margin-bottom: 0;
}
/* line 140, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single {
  line-height: 2.375rem;
}
/* line 144, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single > * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.375rem;
}
/* line 150, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single > a {
  margin-top: -0.75rem;
  margin-bottom: -0.8125rem;
  margin-left: -1.125rem;
  margin-right: -1.125rem;
  padding: 0.75rem 1.125rem 0.8125rem;
  min-height: 3.625rem;
  /*@mixin clearfix*/
  *zoom: 1;
  padding-right: 3.4375rem;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .w_list-control > li.m_single > a:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .w_list-control > li.m_single > a:after {
  clear: both;
}
/* line 20, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single > a.m_condensed, .vzrf .w_list-control > li.m_single > a .m_condensed, .vzrf .w_list-control > li.m_single > a.m_condensed.m_single, .vzrf .w_list-control > li.m_single > a .m_condensed.m_single {
  line-height: inherit;
}
/* line 155, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single > [type=checkbox] + label,
.vzrf .w_list-control > li.m_single > [type=radio] + label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 161, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single > [type=checkbox] + label::before,
.vzrf .w_list-control > li.m_single > [type=radio] + label::before {
  top: 0.5625rem;
}
/* line 169, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_single .row[class*="vert-"] {
  max-height: 2.0625rem;
}
/* line 174, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_header, .vzrf .w_list-control > li.m_header:active {
  font-family: BrandFont, Arial, sans-serif;
  line-height: 1.25rem;
  min-height: 1.25rem;
  margin: 0;
  border-top: none;
  color: #4b4b4b;
  background-color: #f6f6f6;
}
/* line 186, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.m_header > h1, .vzrf .w_list-control > li.m_header > h2, .vzrf .w_list-control > li.m_header > h3, .vzrf .w_list-control > li.m_header > h4, .vzrf .w_list-control > li.m_header > h5, .vzrf .w_list-control > li.m_header > h6 {
  margin: 0;
}
/* line 195, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.disabled:active {
  background-color: #fff;
}
/* line 199, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.checked, .vzrf .w_list-control > li.checked.unread {
  background-color: #f6f6f6;
}
/* line 203, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.checked, .vzrf .w_list-control > li.checked:active, .vzrf .w_list-control > li.checked.unread, .vzrf .w_list-control > li.checked.unread:active {
  background-color: #f6f6f6;
}
/* line 208, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.unread {
  background-color: #e4e5e3;
}
/* line 211, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.unread:active {
  background-color: #d7d9d6;
}
/* line 214, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.unread.unread.disabled:active {
  background-color: #e4e5e3;
}
/* line 219, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.playback {
  background-color: #333;
  color: #fff;
}
/* line 225, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.disabled {
  opacity: 0.5;
  position: relative;
  position: relative;
  z-index: 0;
}
/* line 231, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.disabled:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
}
/* line 244, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control > li.no-bg-effect:active {
  background-color: #fff;
}
/* line 249, ../../scss/widgets/list-control.scss */
.vzrf .w_list-control.m_condensed > li,
.vzrf .w_list-control.m_condensed > li.m_single,
.vzrf .w_list-control.m_condensed > li .m_next,
.vzrf .w_list-control.m_condensed > li .m_link,
.vzrf .w_list-control > li.m_condensed,
.vzrf .w_list-control > li.m_condensed.m_single,
.vzrf .w_list-control > li.m_condensed .m_next,
.vzrf .w_list-control > li.m_condensed .m_link {
  line-height: inherit;
  min-height: 0;
}

/* line 1, ../../scss/widgets/list-control-accordion-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 13, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control {
  /*li*/
}
/* line 14, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary {
  padding-right: 3rem;
  padding-top: 1.5rem;
  cursor: pointer;
  transition: border 0s 0.3s;
  transition: border 0s 0.3s;
  transition: border 0s 0.3s;
  transition: border 0s 0.3s;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  color: #333;
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .w_list-control .m_accordion-summary:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .w_list-control .m_accordion-summary::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 25, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary:hover {
  color: #333;
}
/* line 29, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary::before {
  content: '\e79d';
  position: absolute;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.125rem;
  text-align: center;
  top: 1.625rem;
  margin-top: 0;
  line-height: 1;
  right: 1.125rem;
  color: #cd040b;
  transform: rotate(0deg);
  transform: rotate(0deg);
  transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 0.3s, right 0.3s, color 0.3s;
  transition: transform 0.3s, right 0.3s, color 0.3s;
  transition: transform 0.3s, right 0.3s, color 0.3s;
  transition: transform 0.3s, right 0.3s, color 0.3s;
}
/* line 50, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.m_single {
  padding-bottom: 0;
}
/* line 52, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.m_single::before {
  top: 2.1875rem;
}
/* line 57, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary:hover::before {
  color: #a80309;
  right: 1.125rem;
}
/* line 62, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary:active::before {
  color: #990308;
}
/* line 66, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.open:before {
  content: '\e79b';
}
/* line 72, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary .m_hide-on-close,
.vzrf .w_list-control .m_accordion-summary .m_show-on-close,
.vzrf .w_list-control .m_accordion-summary .m_hide-on-open,
.vzrf .w_list-control .m_accordion-summary .m_show-on-open {
  transition: opacity 0.3s;
  transition: opacity 0.3s;
  transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 77, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary .m_hide-on-close {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 78, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary .m_show-on-close {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 80, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.open {
  border-bottom-color: rgba(204, 204, 204, 0);
  transition: border 0s 0s;
  transition: border 0s 0s;
  transition: border 0s 0s;
  transition: border 0s 0s;
}
/* line 83, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.open .m_hide-on-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 84, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.open .m_show-on-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 91, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-details {
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  border-bottom: 0 solid #cccccc;
  transition: border 0.2s 0s;
  transition: border 0.2s 0s;
  transition: border 0.2s 0s;
  transition: border 0.2s 0s;
}
/* line 100, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-details:active {
  background-color: #fff;
}
/* line 105, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control .m_accordion-summary.open + .m_accordion-details {
  height: auto;
  padding-top: 1.5rem;
  border-bottom: 0.0625rem solid #cccccc;
}
/* line 114, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control.m_rev > .m_accordion-summary,
.vzrf .m_accordion-summary.m_rev {
  padding-right: 1.125rem;
  padding-left: 3.375rem;
}
/* line 118, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control.m_rev > .m_accordion-summary::before,
.vzrf .m_accordion-summary.m_rev::before {
  right: auto;
  left: 1.125rem;
}
/* line 126, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control > .m_accordion-summary.m_condensed,
.vzrf .w_list-control.m_condensed > .m_accordion-summary {
  padding-top: 16px;
  padding-bottom: 0.375rem;
  line-height: inherit;
}
/* line 132, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control > .m_accordion-summary.m_condensed::before,
.vzrf .w_list-control.m_condensed > .m_accordion-summary::before {
  top: 18px;
}
/* line 136, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control > .m_accordion-summary.m_condensed.m_single,
.vzrf .w_list-control.m_condensed > .m_accordion-summary.m_single {
  padding-bottom: 0;
  line-height: inherit;
}
/* line 140, ../../scss/widgets/list-control-accordion.scss */
.vzrf .w_list-control > .m_accordion-summary.m_condensed.m_single::before,
.vzrf .w_list-control.m_condensed > .m_accordion-summary.m_single::before {
  top: 20px;
}

/* line 1, ../../scss/widgets/message-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 4, ../../scss/widgets/message.scss */
.vzrf .w_message {
  border: 0 solid #4b4b4b;
  padding: 1.125rem;
  margin-bottom: 1.5rem;
}
/* line 10, ../../scss/widgets/message.scss */
.vzrf .w_message > h1:first-of-type, .vzrf .w_message > h2:first-of-type, .vzrf .w_message > h3:first-of-type, .vzrf .w_message > h4:first-of-type, .vzrf .w_message > h5:first-of-type, .vzrf .w_message > h6:first-of-type, .vzrf .w_message > p:first-of-type {
  margin-top: 0;
}
/* line 18, ../../scss/widgets/message.scss */
.vzrf .w_message > :last-child {
  margin-bottom: 0;
}
/* line 21, ../../scss/widgets/message.scss */
.vzrf .w_message, .vzrf .w_message.m_info {
  border-color: #0066BB;
  background-color: #bed8f1;
}
/* line 26, ../../scss/widgets/message.scss */
.vzrf .w_message.m_error {
  border-color: #a80309;
  background-color: #ffcfd0;
}
/* line 30, ../../scss/widgets/message.scss */
.vzrf .w_message.m_warning {
  border-color: #f8d362;
  background-color: #ffe8a6;
}
/* line 34, ../../scss/widgets/message.scss */
.vzrf .w_message.m_success {
  border-color: #0c7810;
  background-color: #d5ead3;
}
/* line 40, ../../scss/widgets/message.scss */
.vzrf .message_title {
  margin: -1.125rem -1.125rem 1.125rem -1.125rem;
  color: #fff;
  background-color: #4b4b4b;
  font-size: 1rem;
  padding: 0.75rem 1.125rem;
  line-height: 1.5;
}
/* line 48, ../../scss/widgets/message.scss */
.vzrf .message_title [class*="icon"],
.vzrf .message_title .message_icon {
  margin-right: 1rem;
  float: left;
  line-height: 1;
  color: #fff;
}
/* line 58, ../../scss/widgets/message.scss */
.vzrf .m_info > .message_title,
.vzrf .message_title {
  background-color: #0066BB;
}
/* line 62, ../../scss/widgets/message.scss */
.vzrf .m_error > .message_title {
  background-color: #a80309;
}
/* line 65, ../../scss/widgets/message.scss */
.vzrf .m_warning > .message_title {
  background-color: #f8d362;
}
/* line 67, ../../scss/widgets/message.scss */
.vzrf .m_warning > .message_title,
.vzrf .m_warning > .message_title [class*="icon"],
.vzrf .m_warning > .message_title .message_icon {
  color: #333;
}
/* line 73, ../../scss/widgets/message.scss */
.vzrf .m_success > .message_title {
  background-color: #0c7810;
}

/*! VZRF 2.20.0 */
/* line 7, ../../scss/widgets/modal-namespaced.scss */
.w_modal {
  position: absolute;
  top: -100%;
  opacity: 0;
  z-index: -1;
}

/* line 14, ../../scss/widgets/modal-namespaced.scss */
.w_modal.vzrf {
  position: absolute;
  background-color: #fff;
  border-radius: 0;
  width: 80%;
  margin-left: -40%;
  left: 50%;
  top: -100%;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  max-height: 90%;
  margin-top: -1000px;
  -moz-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  -o-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  -webkit-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s, margin-top 0.3s;
  -webkit-transition-delay: 0s, 0s, 0s, 0.3s, 0s;
  transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  /* If the "X" is absolutely positioned as the first-child of the &, 
  	then we add some generated content floated to the right so that 
  	text won't flow underneath the absolutely positioned "X".
  */
}
@media only screen and (max-width: 30rem) {
  /* line 14, ../../scss/widgets/modal-namespaced.scss */
  .w_modal.vzrf {
    width: 95%;
    margin-left: -47.5%;
  }
}
/* line 49, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_tiny, .w_modal.vzrf.m_small, .w_modal.vzrf.m_medium, .w_modal.vzrf.m_large, .w_modal.vzrf.m_xlarge {
  width: 95%;
  margin-left: -47.5%;
}
/* line 58, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_full, .w_modal.vzrf.m_cover, .w_modal.vzrf.m_cover-all {
  width: 100%;
  max-width: none;
  margin-left: -50%;
  border-radius: 0;
}
/* line 66, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_full .modal_header,
.w_modal.vzrf.m_full .modal_footer, .w_modal.vzrf.m_cover .modal_header,
.w_modal.vzrf.m_cover .modal_footer, .w_modal.vzrf.m_cover-all .modal_header,
.w_modal.vzrf.m_cover-all .modal_footer {
  border-radius: 0;
}
/* line 72, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_cover.active, .w_modal.vzrf.m_cover-all.active {
  top: 0%;
  max-height: 100%;
  border-radius: 0;
}
/* line 79, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_cover-all {
  height: 100% !important;
}
/* line 82, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_cover-all .modal_footer {
  position: absolute;
  bottom: 0;
}
/* line 88, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_tall {
  height: 90% !important;
}
/* line 91, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_tall .modal_footer {
  position: absolute;
  bottom: 0;
}
@media only screen {
  /* line 99, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_section {
    width: 90%;
    margin-left: -45%;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 106, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_section {
    width: 80%;
    margin-left: -40%;
  }
  /* line 111, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_tiny {
    width: 19.0625rem;
    margin-left: -9.53125rem;
  }
  /* line 115, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_small {
    width: 28.125rem;
    margin-left: -14.0625rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 123, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_small {
    width: 28.125rem;
    margin-left: -14.0625rem;
  }
  /* line 128, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_medium {
    width: 60%;
    margin-left: -30%;
  }
  /* line 133, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_large {
    width: 70%;
    margin-left: -35%;
  }
  /* line 138, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_xlarge {
    width: 95%;
    margin-left: -47.5%;
  }
}
/* line 144, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_section {
  position: absolute;
  top: 5%;
  opacity: 0;
  min-width: 0;
}
/* line 150, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_section.m_cover, .w_modal.vzrf.m_section.m_cover-all {
  top: -100%;
}
/* line 154, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.m_section.m_cover.active, .w_modal.vzrf.m_section.m_cover-all.active {
  top: 0%;
}
@media only screen and (min-width: 60.625rem) {
  /* line 150, ../../scss/widgets/modal-mixins.scss */
  .w_modal.vzrf.m_section.m_cover, .w_modal.vzrf.m_section.m_cover-all {
    max-width: none;
    margin-left: -50%;
  }
}
/* line 166, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.active {
  top: 5%;
  overflow: hidden;
  opacity: 1;
  z-index: 800;
  -moz-transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
  -o-transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
  -webkit-transition: opacity 0.3s, top 0.3s, z-index 0s, margin-top 0.3s;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
}
/* line 186, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf.active.m_show-top-bar {
  top: 2.8125rem;
  z-index: 599;
  max-height: 90%;
  max-height: calc(100% - 2.8125rem);
}
/* line 194, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf .modal_x {
  position: absolute;
  top: 1.3125rem;
  right: 1.4375rem;
}
/* line 205, ../../scss/widgets/modal-mixins.scss */
.w_modal.vzrf > .modal_x.m_right + .modal_header::before, .w_modal.vzrf > .modal_x.m_right + .modal_content::before {
  content: '';
  float: right;
  width: 1.5rem;
  height: 1.125rem;
}

/* line 221, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_x {
  position: relative;
  float: right;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  z-index: 810;
  margin: -1rem -1rem 0 0;
  width: 1.125rem;
  height: 1.125rem;
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .modal_x:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .modal_x::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 713, ../../scss/base/_global.scss */
.vzrf .modal_x:before {
  content: '\e65b';
  color: #959595;
  font-size: 0.75rem;
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;
}
/* line 722, ../../scss/base/_global.scss */
.vzrf .modal_x:hover {
  text-decoration: none;
}
/* line 725, ../../scss/base/_global.scss */
.vzrf .modal_x:hover:before {
  color: #a2a2a2;
}
/* line 230, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_x::before {
  content: '\e65b';
  font-size: 0.75rem;
  left: -0.25rem;
}
/* line 239, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_header,
.vzrf .modal_footer,
.vzrf .modal_content {
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;
  /*@mixin clearfix*/
  *zoom: 1;
  /*
  h1, h2, h3, h4, h5, h6, 
  .h1, .h2, .h3, .h4, .h5, .h6 {
  	margin-top:0;
  } 
  */
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .modal_header:after,
.vzrf .modal_footer:after,
.vzrf .modal_content:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .modal_header:after,
.vzrf .modal_footer:after,
.vzrf .modal_content:after {
  clear: both;
}
/* line 256, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_header {
  padding: 1.125rem;
  padding-bottom: 0;
}
/* line 261, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_footer {
  padding: 1.125rem;
  padding-top: 0.3125rem;
  padding-bottom: 0;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 270, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_content {
  position: relative;
  float: left;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.125rem;
  padding-bottom: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}
/* line 283, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_content.m_has-iframe {
  padding-left: 0;
  padding-right: 0;
}
/* line 287, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_content.m_has-iframe iframe {
  border: 0;
  width: 100%;
  overflow: hidden;
}
/* line 294, ../../scss/widgets/modal-mixins.scss */
.vzrf .modal_header + .modal_content {
  padding-top: 0;
}
/* line 298, ../../scss/widgets/modal-mixins.scss */
.vzrf [data-open-modal] {
  cursor: pointer;
}

/* line 1, ../../scss/widgets/tabs-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 8, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs {
  margin-left: 0;
  margin-bottom: 1.5rem;
  list-style-type: none;
  width: 100%;
  border-bottom: 0.0625rem solid #e4e5e3;
}
/* line 24, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab {
  padding: 0.75rem 0 0.6875rem;
  margin-left: 1.5rem;
  margin-bottom: -1px;
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  border-bottom: 0.25rem solid transparent;
  max-height: 3.25rem;
  color: #4b4b4b;
  white-space: nowrap;
}
@media only screen and (min-width: 30.0625rem) {
  /* line 24, ../../scss/widgets/tabs.scss */
  .vzrf .tabs_tab {
    margin-left: 2.25rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 24, ../../scss/widgets/tabs.scss */
  .vzrf .tabs_tab {
    margin-left: 3.375rem;
  }
}
/* line 49, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab:first-child {
  margin-left: 0;
}
/* line 53, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab:hover:not(.active) {
  color: #333;
}
/* line 57, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab.active {
  color: #000;
  cursor: default;
  border-bottom-color: #cd040b;
}
/* line 63, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab.m_multi-line {
  padding-top: 0;
}
/* line 67, ../../scss/widgets/tabs.scss */
.w_tabs.m_equal-width .vzrf .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 101, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_equal-width > .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 105, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-tiny {
  margin-left: 1.5rem;
}
/* line 106, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-small {
  margin-left: 2.25rem;
}
/* line 107, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-medium {
  margin-left: 3.375rem;
}
@media only screen {
  /* line 110, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 118, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 122, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 130, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 134, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 60.625rem) {
  /* line 142, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_large-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 146, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_large-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}
/* line 154, ../../scss/widgets/tabs.scss */
.vzrf [data-tab]:hover {
  cursor: pointer;
}
/* line 158, ../../scss/widgets/tabs.scss */
.vzrf [data-tabs-content] {
  display: none;
  opacity: 0;
}
/* line 163, ../../scss/widgets/tabs.scss */
.vzrf [data-tabs-content].active {
  display: block;
  opacity: 1;
}

/* line 1, ../../scss/widgets/tooltip-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 4, ../../scss/widgets/tooltip.scss */
.vzrf [data-open-tooltip] {
  position: relative;
  cursor: pointer;
}
/* line 11, ../../scss/widgets/tooltip.scss */
.vzrf [data-open-tooltip][data-tooltip-hover*="0"] {
  cursor: progress;
}
/* line 15, ../../scss/widgets/tooltip.scss */
.vzrf [data-open-tooltip].active,
.vzrf [data-open-tooltip][data-tooltip-hover].active {
  z-index: 350;
  cursor: pointer;
}
/* line 21, ../../scss/widgets/tooltip.scss */
.vzrf [data-open-tooltip][data-tooltip-hover*="0"].active {
  cursor: default;
}
/* line 30, ../../scss/widgets/tooltip.scss */
.vzrf .error-msg {
  transition: background-color 0.35s;
  transition: background-color 0.35s;
  transition: background-color 0.35s;
  transition: background-color 0.35s;
}
/* line 33, ../../scss/widgets/tooltip.scss */
.vzrf [data-tooltip-field] {
  position: relative;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
}
/* line 37, ../../scss/widgets/tooltip.scss */
.vzrf [data-tooltip-field] .w_tooltip {
  top: 0;
}
/* line 43, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip {
  display: none;
  position: absolute;
  z-index: 350;
  top: -0.125rem;
  left: 100%;
  margin-left: 1.25rem;
  padding: 1.25rem;
  text-align: left;
  background-color: #fff;
  border: 0.0625rem solid #cccccc;
  cursor: default;
  color: #333;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
}
/* line 326, ../../scss/base/_global.scss */
.vzrf .w_tooltip > *:last-child, .vzrf .w_tooltip > *:last-child > *:last-child, .vzrf .w_tooltip > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}
/* line 60, ../../scss/widgets/tooltip.scss */
.vzicon.form .vzrf .w_tooltip {
  margin-top: 0.3125rem;
}
/* line 64, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip:before {
  content: '';
  width: 0.75rem;
  height: 1.5625rem;
  position: absolute;
  left: -0.6875rem;
  top: 0.375rem;
  overflow: hidden;
  border-right: 0.0625rem solid #fff;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%0A%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%09%20viewBox%3D%270%200%2039%2039%27%20style%3D%27enable-background%3Anew%200%200%2039%2039%3B%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cstyle%20type%3D%27text%2Fcss%27%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st1%7Bfill%3A%23CCCCCC%3B%7D%0A%3C%2Fstyle%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%276.7%27%20y%3D%276.7%27%20transform%3D%27matrix(-0.7071%200.7071%20-0.7071%20-0.7071%2047.0772%2019.5)%27%20class%3D%27st0%27%20width%3D%2725.6%27%20height%3D%2725.6%27%2F%3E%0A%09%3Cpath%20class%3D%27st1%27%20d%3D%27M19.5%2C2.8l16.7%2C16.7L19.5%2C36.2L2.8%2C19.5L19.5%2C2.8%20M19.5%2C0L0%2C19.5L19.5%2C39L39%2C19.5L19.5%2C0L19.5%2C0z%27%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  background-size: 1.5625rem 1.5625rem;
  background-repeat: no-repeat;
}
/* line 80, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_rev, .vzrf .w_tooltip.m_flow-left {
  left: auto;
  right: 100%;
  margin-right: 0.9375rem;
}
/* line 86, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_rev::before, .vzrf .w_tooltip.m_flow-left::before {
  left: auto;
  right: -0.6875rem;
  border-right: none;
  border-left: 0.0625rem solid #fff;
  background-position: -0.875rem 0;
}
/* line 96, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_flow-up {
  top: auto;
}
/* line 98, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_flow-up::before {
  top: auto !important;
  bottom: 0.375rem;
}
/* line 106, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_tiny {
  width: 10.9375rem;
  max-width: 10.9375rem;
}
/* line 110, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_small {
  width: 14.75rem;
  max-width: 14.75rem;
}
/* line 114, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip, .vzrf .w_tooltip.m_medium {
  width: 19.9375rem;
  max-width: 19.9375rem;
}
/* line 119, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_large {
  width: 26.9375rem;
  max-width: 26.9375rem;
}
/* line 123, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_xlarge {
  width: 36.375rem;
  max-width: 36.375rem;
}
/* line 128, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip > h1:first-of-type, .vzrf .w_tooltip > h2:first-of-type, .vzrf .w_tooltip > h3:first-of-type, .vzrf .w_tooltip > h4:first-of-type, .vzrf .w_tooltip > h5:first-of-type, .vzrf .w_tooltip > h6:first-of-type {
  margin-top: 0;
}
/* line 137, ../../scss/widgets/tooltip.scss */
.vzrf .middle .w_tooltip {
  top: -0.5rem;
}
/* line 140, ../../scss/widgets/tooltip.scss */
.vzrf .middle .w_tooltip:before {
  top: 0.375rem;
}
/* line 144, ../../scss/widgets/tooltip.scss */
.vzrf .tooltip_x {
  position: relative;
  float: right;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  float: right;
  position: static;
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .tooltip_x:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .tooltip_x::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 713, ../../scss/base/_global.scss */
.vzrf .tooltip_x:before {
  content: '\e65b';
  color: #959595;
  font-size: 0.75rem;
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;
}
/* line 722, ../../scss/base/_global.scss */
.vzrf .tooltip_x:hover {
  text-decoration: none;
}
/* line 725, ../../scss/base/_global.scss */
.vzrf .tooltip_x:hover:before {
  color: #a2a2a2;
}
/* line 149, ../../scss/widgets/tooltip.scss */
.vzrf .tooltip_x:before {
  color: #959595;
}
/* line 150, ../../scss/widgets/tooltip.scss */
.vzrf .tooltip_x:hover:before {
  color: #a2a2a2;
}
/* line 153, ../../scss/widgets/tooltip.scss */
.vzrf .w_tooltip.m_hover [data-close-tooltip] {
  display: none;
}
