@charset "UTF-8";
/* line 1, ../../scss/widgets/drop-list-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 4, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list {
  position: relative;
  display: inline-block;
  min-height: 2.3125rem;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}
/* line 12, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list input,
.vzrf .w_drop-list select {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 18, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list .vzicon.drop-list_button {
  float: right;
  color: #cd040b;
  font-size: 0.75rem;
}
/* line 23, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list .vzicon.form {
  margin-top: 0.0625rem;
}
/* line 27, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.disabled, .vzrf .w_drop-list.disabled [data-drop-list-button] {
  opacity: 0.5;
  cursor: default !important;
  cursor: not-allowed !important;
}
/* line 35, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active {
  z-index: 575;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
}
/* line 44, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active [data-drop-list-button] {
  padding-bottom: 0.4375rem;
  margin-bottom: -0.4375rem;
}
/* line 49, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  text-align: left;
  top: -9999px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  border-top: 0.0625rem solid #f6f6f6;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0.1875rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
}
/* line 62, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > li {
  /*@mixin clearfix*/
  *zoom: 1;
  background-color: #fff;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .drop-list_list > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .drop-list_list > li:after {
  clear: both;
}
/* line 68, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > li > a,
.vzrf .drop-list_list > li > span,
.vzrf .drop-list_list > li > div {
  background-color: transparent;
}
/* line 75, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 88, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a,
.vzrf .drop-list_list > li > a,
.vzrf .drop-list_list > li > span,
.vzrf .drop-list_list > li > div,
.vzrf .drop-list_list > li > .drop-list_text {
  padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  font-size: 0.75rem;
  margin: 0;
  display: inline-block;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 100%;
  text-decoration: none;
}
/* line 941, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a:hover,
.vzrf .drop-list_list > li > a:hover,
.vzrf .drop-list_list > li > span:hover,
.vzrf .drop-list_list > li > div:hover,
.vzrf .drop-list_list > li > .drop-list_text:hover {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
}
/* line 97, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a:focus,
.vzrf .drop-list_list > li:focus > a,
.vzrf .drop-list_list > li:focus > span,
.vzrf .drop-list_list > li:focus > div,
.vzrf .drop-list_list > li:focus > .drop-list_text {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
}
/* line 107, ../../scss/widgets/drop-list.scss */
.vzrf .drop-list_list > a.active,
.vzrf .drop-list_list > li.active > a,
.vzrf .drop-list_list > li.active > span,
.vzrf .drop-list_list > li.active > div,
.vzrf .drop-list_list > li.active > .drop-list_text {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active:hover,
.vzrf .drop-list_list > li.active > a:hover,
.vzrf .drop-list_list > li.active > span:hover,
.vzrf .drop-list_list > li.active > div:hover,
.vzrf .drop-list_list > li.active > .drop-list_text:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active::before,
.vzrf .drop-list_list > li.active > a::before,
.vzrf .drop-list_list > li.active > span::before,
.vzrf .drop-list_list > li.active > div::before,
.vzrf .drop-list_list > li.active > .drop-list_text::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf .drop-list_list > a.active::before,
.vzrf .drop-list_list > li.active > a::before,
.vzrf .drop-list_list > li.active > span::before,
.vzrf .drop-list_list > li.active > div::before,
.vzrf .drop-list_list > li.active > .drop-list_text::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 121, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.m_rev .drop-list_list {
  right: 0;
  left: auto;
}
/* line 126, ../../scss/widgets/drop-list.scss */
.vzrf .w_drop-list.active .drop-list_list {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  top: 2.5rem;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
}
/* line 138, ../../scss/widgets/drop-list.scss */
.vzrf .w_top-bar .w_drop-list.active .drop-list_list {
  top: 2.8125rem;
}
/* line 141, ../../scss/widgets/drop-list.scss */
.vzrf .w_filter-bar .w_drop-list.active .drop-list_list {
  top: 2.4375rem;
}
