@charset "UTF-8";
/* line 1, ../../scss/widgets/filter-bar-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
@keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes shake {
  0% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
    transform: translate3d(-7px, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
    transform: translate3d(7px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 18, ../../scss/widgets/filter-bar.scss */
.vzrf .w_filter-bar {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 0.0625rem solid #cccccc;
  border-top: 0.0625rem solid #cccccc;
}
/* line 26, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_list {
  margin: 0;
}
/* line 35, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item {
  position: relative;
  background-color: #fff;
  color: #4b4b4b;
  border-right: 0.0625rem solid #cccccc;
  height: 2.9375rem;
  max-height: 2.9375rem;
  cursor: pointer;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  transition: background-color 0.3s, z-index 0s 0.3s;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  padding: 0.375rem 0.625rem !important;
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_item:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_item::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 49, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item:before {
  content: '\e76e';
  position: absolute;
  font-size: 0.75rem;
  right: 0.625rem;
  top: 45%;
  margin-top: -0.25rem;
  color: #cd040b;
}
/* line 61, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item:first-child {
  border-left: 0.0625rem solid #cccccc;
}
/* line 65, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item[data-filter-bar-item]:hover {
  background-color: #f9f9f9;
}
/* line 69, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active, .vzrf .filter-bar_item.active[data-filter-bar-item] {
  background-color: #fff;
  z-index: 575;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
  transition: z-index 0s 0s;
}
/* line 76, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item input,
.vzrf .filter-bar_item select {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: -0.25rem;
}
/* line 84, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item .vzicon.form {
  margin-top: 0.0625rem;
}
/* line 89, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_title,
.vzrf .filter-bar_selected {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
/* line 98, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_title {
  font-size: 0.75rem;
  position: relative;
  padding-right: 0.9375rem;
}
/* line 103, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before,
.vzrf [data-filter-bar="inactive"] {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before:hover,
.vzrf [data-filter-bar="inactive"]:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before::before,
.vzrf [data-filter-bar="inactive"]::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 106, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_title:before:before,
.vzrf [data-filter-bar="inactive"]:before {
  content: '\e76e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 45%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 117, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_selected {
  font-size: 0.875rem;
  color: #cd040b;
  font-weight: bold;
}
/* line 122, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_selected.shake {
  animation: shake linear .15s;
  animation-iteration-count: 2;
  -webkit-animation: shake linear .15s;
  -webkit-animation-iteration-count: 2;
  -moz-animation: shake linear .15s;
  -moz-animation-iteration-count: 2;
  -o-animation: shake linear .15s;
  -o-animation-iteration-count: 2;
  -ms-animation: shake linear .3s;
  -ms-animation-iteration-count: 2;
}
/* line 135, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.active .filter-bar_selected {
  color: #4b4b4b;
}
/* line 140, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.disabled * {
  opacity: .7;
}
/* line 144, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_item.disabled .filter-bar_selected {
  color: #4b4b4b;
}
/* line 154, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices {
  min-width: 100%;
  max-width: 150%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  text-align: left;
  top: -9999px;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  transition: opacity 0.3s 0s, top 0s 0.3s;
  box-shadow: 0.1875rem 0.1875rem 0.75rem rgba(0, 0, 0, 0.25);
}
/* line 172, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li > a {
  padding: 0.75rem 1.875rem 0.75rem 1.875rem;
  font-size: 0.75rem;
  margin: 0;
  display: inline-block;
  color: #333;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 100%;
  text-decoration: none;
  background-color: transparent;
}
/* line 941, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li > a:hover {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
  cursor: pointer;
}
/* line 177, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li {
  /*@mixin clearfix*/
  *zoom: 1;
  background-color: #fff;
  color: #333;
  border-bottom: 0.0625rem solid #e4e5e3;
  border-left: 0.0625rem solid #e4e5e3;
  border-right: 0.0625rem solid #e4e5e3;
}
/* line 491, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.vzrf .filter-bar_choices > li:after {
  clear: both;
}
/* line 184, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choices > li:focus {
  color: #333;
  background-color: #f6f6f6;
  text-decoration: none;
}
/* line 192, ../../scss/widgets/filter-bar.scss */
.vzrf .active > .filter-bar_choices {
  opacity: 1;
  top: 100%;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  transition: opacity 0.3s 0s, top 0s 0s;
  height: auto;
}
/* line 202, ../../scss/widgets/filter-bar.scss */
.vzrf .m_rev > .filter-bar_choices {
  right: 0;
  left: auto;
}
/* line 208, ../../scss/widgets/filter-bar.scss */
.vzrf .filter-bar_choice.active > a,
.vzrf .filter-bar_choice.active:hover > a,
.vzrf .filter-bar_choice > a:active {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a:hover,
.vzrf .filter-bar_choice.active:hover > a:hover,
.vzrf .filter-bar_choice > a:active:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a::before,
.vzrf .filter-bar_choice.active:hover > a::before,
.vzrf .filter-bar_choice > a:active::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf .filter-bar_choice.active > a::before,
.vzrf .filter-bar_choice.active:hover > a::before,
.vzrf .filter-bar_choice > a:active::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
/* line 215, ../../scss/widgets/filter-bar.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover {
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a::before,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 952, ../../scss/base/_global.scss */
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a::before,
.vzrf [data-filter-bar-item][data-multi-select] .filter-bar_choice.active > a:hover::before {
  content: '\e65e';
  position: absolute;
  font-size: 0.75rem;
  left: 0.625rem;
  top: 50%;
  margin-top: -0.5625rem;
  color: #cd040b;
}
