@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 13, ../../scss/widgets/list-control-accordion.scss */
.w_list-control {
  /*li*/
}
/* line 14, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary {
  padding-right: 3rem;
  padding-top: 1.5rem;
  cursor: pointer;
  -moz-transition: border 0s 0.3s;
  -o-transition: border 0s 0.3s;
  -webkit-transition: border 0s;
  -webkit-transition-delay: 0.3s;
  transition: border 0s 0.3s;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  color: #333;
}
/* line 299, ../../scss/base/_global.scss */
.w_list-control .m_accordion-summary:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.w_list-control .m_accordion-summary::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 25, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary:hover {
  color: #333;
}
/* line 29, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary::before {
  content: '\e79d';
  position: absolute;
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  font-size: 1.125rem;
  text-align: center;
  top: 1.625rem;
  margin-top: 0;
  line-height: 1;
  right: 1.125rem;
  color: #cd040b;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: -moz-transform 0.3s, right 0.3s, color 0.3s;
  -o-transition: -o-transform 0.3s, right 0.3s, color 0.3s;
  -webkit-transition: -webkit-transform 0.3s, right 0.3s, color 0.3s;
  transition: transform 0.3s, right 0.3s, color 0.3s;
}
/* line 50, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.m_single {
  padding-bottom: 0;
}
/* line 52, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.m_single::before {
  top: 2.1875rem;
}
/* line 57, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary:hover::before {
  color: #a80309;
  right: 1.125rem;
}
/* line 62, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary:active::before {
  color: #990308;
}
/* line 66, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.open:before {
  content: '\e79b';
}
/* line 72, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary .m_hide-on-close,
.w_list-control .m_accordion-summary .m_show-on-close,
.w_list-control .m_accordion-summary .m_hide-on-open,
.w_list-control .m_accordion-summary .m_show-on-open {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/* line 77, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary .m_hide-on-close {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 78, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary .m_show-on-close {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 80, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.open {
  border-bottom-color: rgba(204, 204, 204, 0);
  -moz-transition: border 0s 0s;
  -o-transition: border 0s 0s;
  -webkit-transition: border 0s;
  -webkit-transition-delay: 0s;
  transition: border 0s 0s;
}
/* line 83, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.open .m_hide-on-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 84, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.open .m_show-on-open {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 91, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-details {
  height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 0;
  border-bottom: 0 solid #cccccc;
  -moz-transition: border 0.2s 0s;
  -o-transition: border 0.2s 0s;
  -webkit-transition: border 0.2s;
  -webkit-transition-delay: 0s;
  transition: border 0.2s 0s;
}
/* line 100, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-details:active {
  background-color: #fff;
}
/* line 105, ../../scss/widgets/list-control-accordion.scss */
.w_list-control .m_accordion-summary.open + .m_accordion-details {
  height: auto;
  padding-top: 1.5rem;
  border-bottom: 0.0625rem solid #cccccc;
}

/* line 114, ../../scss/widgets/list-control-accordion.scss */
.w_list-control.m_rev > .m_accordion-summary,
.m_accordion-summary.m_rev {
  padding-right: 1.125rem;
  padding-left: 3.375rem;
}
/* line 118, ../../scss/widgets/list-control-accordion.scss */
.w_list-control.m_rev > .m_accordion-summary::before,
.m_accordion-summary.m_rev::before {
  right: auto;
  left: 1.125rem;
}

/* line 126, ../../scss/widgets/list-control-accordion.scss */
.w_list-control > .m_accordion-summary.m_condensed,
.w_list-control.m_condensed > .m_accordion-summary {
  padding-top: 16px;
  padding-bottom: 0.375rem;
  line-height: inherit;
}
/* line 132, ../../scss/widgets/list-control-accordion.scss */
.w_list-control > .m_accordion-summary.m_condensed::before,
.w_list-control.m_condensed > .m_accordion-summary::before {
  top: 18px;
}
/* line 136, ../../scss/widgets/list-control-accordion.scss */
.w_list-control > .m_accordion-summary.m_condensed.m_single,
.w_list-control.m_condensed > .m_accordion-summary.m_single {
  padding-bottom: 0;
  line-height: inherit;
}
/* line 140, ../../scss/widgets/list-control-accordion.scss */
.w_list-control > .m_accordion-summary.m_condensed.m_single::before,
.w_list-control.m_condensed > .m_accordion-summary.m_single::before {
  top: 20px;
}
