@charset "UTF-8";
/* line 1, ../../scss/widgets/message-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 4, ../../scss/widgets/message.scss */
.vzrf .w_message {
  border: 0 solid #4b4b4b;
  padding: 1.125rem;
  margin-bottom: 1.5rem;
}
/* line 10, ../../scss/widgets/message.scss */
.vzrf .w_message > h1:first-of-type, .vzrf .w_message > h2:first-of-type, .vzrf .w_message > h3:first-of-type, .vzrf .w_message > h4:first-of-type, .vzrf .w_message > h5:first-of-type, .vzrf .w_message > h6:first-of-type, .vzrf .w_message > p:first-of-type {
  margin-top: 0;
}
/* line 18, ../../scss/widgets/message.scss */
.vzrf .w_message > :last-child {
  margin-bottom: 0;
}
/* line 21, ../../scss/widgets/message.scss */
.vzrf .w_message, .vzrf .w_message.m_info {
  border-color: #0066BB;
  background-color: #bed8f1;
}
/* line 26, ../../scss/widgets/message.scss */
.vzrf .w_message.m_error {
  border-color: #a80309;
  background-color: #ffcfd0;
}
/* line 30, ../../scss/widgets/message.scss */
.vzrf .w_message.m_warning {
  border-color: #f8d362;
  background-color: #ffe8a6;
}
/* line 34, ../../scss/widgets/message.scss */
.vzrf .w_message.m_success {
  border-color: #0c7810;
  background-color: #d5ead3;
}
/* line 40, ../../scss/widgets/message.scss */
.vzrf .message_title {
  margin: -1.125rem -1.125rem 1.125rem -1.125rem;
  color: #fff;
  background-color: #4b4b4b;
  font-size: 1rem;
  padding: 0.75rem 1.125rem;
  line-height: 1.5;
}
/* line 48, ../../scss/widgets/message.scss */
.vzrf .message_title [class*="icon"],
.vzrf .message_title .message_icon {
  margin-right: 1rem;
  float: left;
  line-height: 1;
  color: #fff;
}
/* line 58, ../../scss/widgets/message.scss */
.vzrf .m_info > .message_title,
.vzrf .message_title {
  background-color: #0066BB;
}
/* line 62, ../../scss/widgets/message.scss */
.vzrf .m_error > .message_title {
  background-color: #a80309;
}
/* line 65, ../../scss/widgets/message.scss */
.vzrf .m_warning > .message_title {
  background-color: #f8d362;
}
/* line 67, ../../scss/widgets/message.scss */
.vzrf .m_warning > .message_title,
.vzrf .m_warning > .message_title [class*="icon"],
.vzrf .m_warning > .message_title .message_icon {
  color: #333;
}
/* line 73, ../../scss/widgets/message.scss */
.vzrf .m_success > .message_title {
  background-color: #0c7810;
}
