@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 6, ../../scss/widgets/modal.scss */
.w_modal {
  position: absolute;
  background-color: #fff;
  border-radius: 0;
  width: 80%;
  margin-left: -40%;
  left: 50%;
  top: -100%;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
  max-height: 90%;
  margin-top: -1000px;
  -moz-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  -o-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  -webkit-transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s, margin-top 0.3s;
  -webkit-transition-delay: 0s, 0s, 0s, 0.3s, 0s;
  transition: opacity 0.3s, top 0.3s, bottom 0.3s, z-index 0s 0.3s, margin-top 0.3s;
  /* If the "X" is absolutely positioned as the first-child of the &, 
  	then we add some generated content floated to the right so that 
  	text won't flow underneath the absolutely positioned "X".
  */
}
@media only screen and (max-width: 30rem) {
  /* line 6, ../../scss/widgets/modal.scss */
  .w_modal {
    width: 95%;
    margin-left: -47.5%;
  }
}
/* line 49, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_tiny, .w_modal.m_small, .w_modal.m_medium, .w_modal.m_large, .w_modal.m_xlarge {
  width: 95%;
  margin-left: -47.5%;
}
/* line 58, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_full, .w_modal.m_cover, .w_modal.m_cover-all {
  width: 100%;
  max-width: none;
  margin-left: -50%;
  border-radius: 0;
}
/* line 66, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_full .modal_header,
.w_modal.m_full .modal_footer, .w_modal.m_cover .modal_header,
.w_modal.m_cover .modal_footer, .w_modal.m_cover-all .modal_header,
.w_modal.m_cover-all .modal_footer {
  border-radius: 0;
}
/* line 72, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_cover.active, .w_modal.m_cover-all.active {
  top: 0%;
  max-height: 100%;
  border-radius: 0;
}
/* line 79, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_cover-all {
  height: 100% !important;
}
/* line 82, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_cover-all .modal_footer {
  position: absolute;
  bottom: 0;
}
/* line 88, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_tall {
  height: 90% !important;
}
/* line 91, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_tall .modal_footer {
  position: absolute;
  bottom: 0;
}
@media only screen {
  /* line 99, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_section {
    width: 90%;
    margin-left: -45%;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 106, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_section {
    width: 80%;
    margin-left: -40%;
  }
  /* line 111, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_tiny {
    width: 19.0625rem;
    margin-left: -9.53125rem;
  }
  /* line 115, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_small {
    width: 28.125rem;
    margin-left: -14.0625rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 123, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_small {
    width: 28.125rem;
    margin-left: -14.0625rem;
  }
  /* line 128, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_medium {
    width: 60%;
    margin-left: -30%;
  }
  /* line 133, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_large {
    width: 70%;
    margin-left: -35%;
  }
  /* line 138, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_xlarge {
    width: 95%;
    margin-left: -47.5%;
  }
}
/* line 144, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_section {
  position: absolute;
  top: 5%;
  opacity: 0;
  min-width: 0;
}
/* line 150, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_section.m_cover, .w_modal.m_section.m_cover-all {
  top: -100%;
}
/* line 154, ../../scss/widgets/modal-mixins.scss */
.w_modal.m_section.m_cover.active, .w_modal.m_section.m_cover-all.active {
  top: 0%;
}
@media only screen and (min-width: 60.625rem) {
  /* line 150, ../../scss/widgets/modal-mixins.scss */
  .w_modal.m_section.m_cover, .w_modal.m_section.m_cover-all {
    max-width: none;
    margin-left: -50%;
  }
}
/* line 166, ../../scss/widgets/modal-mixins.scss */
.w_modal.active {
  top: 5%;
  overflow: hidden;
  opacity: 1;
  z-index: 800;
  -moz-transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
  -o-transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
  -webkit-transition: opacity 0.3s, top 0.3s, z-index 0s, margin-top 0.3s;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  transition: opacity 0.3s 0s, top 0.3s 0s, z-index 0s 0s, margin-top 0.3s;
}
/* line 186, ../../scss/widgets/modal-mixins.scss */
.w_modal.active.m_show-top-bar {
  top: 2.8125rem;
  z-index: 599;
  max-height: 90%;
  max-height: calc(100% - 2.8125rem);
}
/* line 194, ../../scss/widgets/modal-mixins.scss */
.w_modal .modal_x {
  position: absolute;
  top: 1.3125rem;
  right: 1.4375rem;
}
/* line 205, ../../scss/widgets/modal-mixins.scss */
.w_modal > .modal_x.m_right + .modal_header::before, .w_modal > .modal_x.m_right + .modal_content::before {
  content: '';
  float: right;
  width: 1.5rem;
  height: 1.125rem;
}

/* line 221, ../../scss/widgets/modal-mixins.scss */
.modal_x {
  position: relative;
  float: right;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  z-index: 810;
  margin: -1rem -1rem 0 0;
  width: 1.125rem;
  height: 1.125rem;
}
/* line 299, ../../scss/base/_global.scss */
.modal_x:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.modal_x::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 713, ../../scss/base/_global.scss */
.modal_x:before {
  content: '\e65b';
  color: #959595;
  font-size: 0.75rem;
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;
}
/* line 722, ../../scss/base/_global.scss */
.modal_x:hover {
  text-decoration: none;
}
/* line 725, ../../scss/base/_global.scss */
.modal_x:hover:before {
  color: #a2a2a2;
}
/* line 230, ../../scss/widgets/modal-mixins.scss */
.modal_x::before {
  content: '\e65b';
  font-size: 0.75rem;
  left: -0.25rem;
}

/* line 239, ../../scss/widgets/modal-mixins.scss */
.modal_header,
.modal_footer,
.modal_content {
  float: left;
  position: relative;
  width: 100%;
  z-index: 1;
  /*@mixin clearfix*/
  *zoom: 1;
  /*
  h1, h2, h3, h4, h5, h6, 
  .h1, .h2, .h3, .h4, .h5, .h6 {
  	margin-top:0;
  } 
  */
}
/* line 491, ../../scss/base/_global.scss */
.modal_header:after,
.modal_footer:after,
.modal_content:after {
  content: " ";
  display: table;
}
/* line 492, ../../scss/base/_global.scss */
.modal_header:after,
.modal_footer:after,
.modal_content:after {
  clear: both;
}

/* line 256, ../../scss/widgets/modal-mixins.scss */
.modal_header {
  padding: 1.125rem;
  padding-bottom: 0;
}

/* line 261, ../../scss/widgets/modal-mixins.scss */
.modal_footer {
  padding: 1.125rem;
  padding-top: 0.3125rem;
  padding-bottom: 0;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 270, ../../scss/widgets/modal-mixins.scss */
.modal_content {
  position: relative;
  float: left;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.125rem;
  padding-bottom: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 2;
}
/* line 283, ../../scss/widgets/modal-mixins.scss */
.modal_content.m_has-iframe {
  padding-left: 0;
  padding-right: 0;
}
/* line 287, ../../scss/widgets/modal-mixins.scss */
.modal_content.m_has-iframe iframe {
  border: 0;
  width: 100%;
  overflow: hidden;
}

/* line 294, ../../scss/widgets/modal-mixins.scss */
.modal_header + .modal_content {
  padding-top: 0;
}

/* line 298, ../../scss/widgets/modal-mixins.scss */
[data-open-modal] {
  cursor: pointer;
}
