@charset "UTF-8";
/* line 1, ../../scss/widgets/pw-toggle-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
  /* Password show/hide toggle: Wrap in a .password-toggle div and 
   use JS to switch an any text/password input found in pw-toggle.js */
}
/* line 6, ../../scss/widgets/pw-toggle.scss */
.vzrf .w_pw-toggle {
  position: relative;
}
/* line 9, ../../scss/widgets/pw-toggle.scss */
.vzrf .w_pw-toggle .pw-toggle_to {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.375rem;
  padding: 0.5rem 0.375rem;
  line-height: 1.6875rem;
  font-size: 0.75rem;
  font-family: BrandFont, Arial, sans-serif;
  text-align: center;
  color: #0066BB;
  display: none;
  font-weight: bold;
}
/* line 24, ../../scss/widgets/pw-toggle.scss */
.vzrf .w_pw-toggle.m_show-toggle .pw-toggle_to {
  display: block;
}
/* line 28, ../../scss/widgets/pw-toggle.scss */
.vzrf .w_pw-toggle input {
  padding-right: 3.375rem;
}
/* line 32, ../../scss/widgets/pw-toggle.scss */
.vzrf .w_pw-toggle input:focus {
  border-color: #4b4b4b;
}
