@charset "UTF-8";
/*! VZRF 2.20.0 */
/* line 17, ../../scss/widgets/rating.scss */
.w_rating {
  display: inline-block;
  width: auto;
}
/* line 21, ../../scss/widgets/rating.scss */
.w_rating .m_inactive-node {
  color: #CCCCCC;
}
/* line 25, ../../scss/widgets/rating.scss */
.w_rating .m_active-node {
  color: #CD040B;
}

/* line 30, ../../scss/widgets/rating.scss */
.rating_node {
  color: #4B4B4B;
  display: inline-block;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
}
/* line 299, ../../scss/base/_global.scss */
.rating_node:hover {
  text-decoration: none;
}
/* line 303, ../../scss/base/_global.scss */
.rating_node::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}
/* line 36, ../../scss/widgets/rating.scss */
.rating_node::before {
  content: '\e60e';
  position: relative;
  display: inline;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

/* line 45, ../../scss/widgets/rating.scss */
.rating_personal {
  direction: rtl;
  display: inline-block;
}
/* line 50, ../../scss/widgets/rating.scss */
.rating_personal .rating_node {
  font-size: 1.5rem;
  float: right;
  padding: 0 0.125rem;
  cursor: pointer;
}
/* line 56, ../../scss/widgets/rating.scss */
.rating_personal .rating_node:hover:before {
  color: #72020D;
}
/* line 61, ../../scss/widgets/rating.scss */
.rating_personal .rating_node:hover ~ .rating_node:before {
  color: #72020D;
}

/* line 66, ../../scss/widgets/rating.scss */
.rating_avg {
  display: inline-block;
}
/* line 70, ../../scss/widgets/rating.scss */
.rating_avg .rating_node:before {
  font-size: 1.125rem;
  width: 1.125rem;
  float: left;
}

/* line 78, ../../scss/widgets/rating.scss */
.rating_avg-constrictor {
  overflow: hidden;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

/* line 86, ../../scss/widgets/rating.scss */
.rating_avg-container {
  letter-spacing: -4px;
  display: inline-block;
  width: auto;
  top: 0;
}

/* line 93, ../../scss/widgets/rating.scss */
.ratings_avg-reviews {
  display: inline-block;
  vertical-align: middle;
}
