@charset "UTF-8";
/* line 1, ../../scss/widgets/tabs-namespaced.scss */
.vzrf {
  /*! VZRF 2.20.0 */
}
/* line 8, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs {
  margin-left: 0;
  margin-bottom: 1.5rem;
  list-style-type: none;
  width: 100%;
  border-bottom: 0.0625rem solid #e4e5e3;
}
/* line 24, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab {
  padding: 0.75rem 0 0.6875rem;
  margin-left: 1.5rem;
  margin-bottom: -1px;
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  border-bottom: 0.25rem solid transparent;
  max-height: 3.25rem;
  color: #4b4b4b;
  white-space: nowrap;
}
@media only screen and (min-width: 30.0625rem) {
  /* line 24, ../../scss/widgets/tabs.scss */
  .vzrf .tabs_tab {
    margin-left: 2.25rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 24, ../../scss/widgets/tabs.scss */
  .vzrf .tabs_tab {
    margin-left: 3.375rem;
  }
}
/* line 49, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab:first-child {
  margin-left: 0;
}
/* line 53, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab:hover:not(.active) {
  color: #333;
}
/* line 57, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab.active {
  color: #000;
  cursor: default;
  border-bottom-color: #cd040b;
}
/* line 63, ../../scss/widgets/tabs.scss */
.vzrf .tabs_tab.m_multi-line {
  padding-top: 0;
}
/* line 67, ../../scss/widgets/tabs.scss */
.w_tabs.m_equal-width .vzrf .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 101, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_equal-width > .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}
/* line 105, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-tiny {
  margin-left: 1.5rem;
}
/* line 106, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-small {
  margin-left: 2.25rem;
}
/* line 107, ../../scss/widgets/tabs.scss */
.vzrf .w_tabs.m_spacing-medium {
  margin-left: 3.375rem;
}
@media only screen {
  /* line 110, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_tiny-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 30.0625rem) {
  /* line 118, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 122, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_small-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 48rem) {
  /* line 130, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 134, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}
@media only screen and (min-width: 60.625rem) {
  /* line 142, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_large-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }
  /* line 146, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_large-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }
  /* line 96, ../../scss/widgets/tabs.scss */
  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}
/* line 154, ../../scss/widgets/tabs.scss */
.vzrf [data-tab]:hover {
  cursor: pointer;
}
/* line 158, ../../scss/widgets/tabs.scss */
.vzrf [data-tabs-content] {
  display: none;
  opacity: 0;
}
/* line 163, ../../scss/widgets/tabs.scss */
.vzrf [data-tabs-content].active {
  display: block;
  opacity: 1;
}
