@charset "UTF-8";
@import url('vzrf-namespaced-blessed1.css?z=420');

@import url('vzrf-namespaced-blessed2.css?z=420');

.vzrf .swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

/* line 548, ../../scss/widgets/swiper.scss */

.vzrf .swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

/* line 556, ../../scss/widgets/swiper.scss */

.vzrf .swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

/* line 564, ../../scss/widgets/swiper.scss */

.vzrf .swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

/* line 573, ../../scss/widgets/swiper.scss */

.vzrf .swiper-scrollbar-cursor-drag {
  cursor: move;
}

/* line 577, ../../scss/widgets/swiper.scss */

.vzrf .swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

/* line 593, ../../scss/widgets/swiper.scss */

.vzrf .swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 604, ../../scss/widgets/swiper.scss */

.vzrf .swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

/* line 1, ../../scss/widgets/tabs-namespaced.scss */

.vzrf {
  /*! VZRF 2.20.0 */
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_first > a::before {
  content: "\e901";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=checkbox] + label::before,
.vzrf input[type=radio] + label::before,
.vzrf input[type=checkbox]:hover + label::before,
.vzrf input[type=radio]:hover + label::before {
  content: "\e7bd";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=checkbox]:checked + label::before,
.vzrf input[type=radio]:checked + label::before {
  content: "\e7be";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=radio] + label::before,
.vzrf input[type=radio]:hover + label::before {
  content: "\e7bf";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=radio]:checked + label::before {
  content: "\e7c0";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_last > a::before {
  content: "\e900";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .button::before,
.vzrf .pagination_item.m_next > a::before,
.vzrf .swiper_button-next::before,
.vzrf .swiper-container-rtl .swiper_button-prev::before {
  content: "\e631";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .swiper-container-vertical .swiper_button-next::before {
  content: "\e76e";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_prev > a::before,
.vzrf .swiper_button-prev::before,
.vzrf .swiper-container-rtl .swiper_button-next::before {
  content: "\e625";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .swiper-container-vertical .swiper_button-prev::before {
  content: "\e76f";
}

/* line 8, ../../scss/widgets/tabs.scss */

.vzrf .w_tabs {
  margin-left: 0;
  margin-bottom: 1.5rem;
  list-style-type: none;
  width: 100%;
  border-bottom: 0.0625rem solid #e4e5e3;
}

/* line 24, ../../scss/widgets/tabs.scss */

.vzrf .tabs_tab {
  padding: 0.75rem 0 0.6875rem;
  margin-left: 1.5rem;
  margin-bottom: -1px;
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
  border-bottom: 0.25rem solid transparent;
  max-height: 3.25rem;
  color: #4b4b4b;
  white-space: nowrap;
}

@media only screen and (min-width: 30.0625rem) {
  /* line 24, ../../scss/widgets/tabs.scss */

  .vzrf .tabs_tab {
    margin-left: 2.25rem;
  }
}

@media only screen and (min-width: 48rem) {
  /* line 24, ../../scss/widgets/tabs.scss */

  .vzrf .tabs_tab {
    margin-left: 3.375rem;
  }
}

/* line 49, ../../scss/widgets/tabs.scss */

.vzrf .tabs_tab:first-child {
  margin-left: 0;
}

/* line 53, ../../scss/widgets/tabs.scss */

.vzrf .tabs_tab:hover:not(.active) {
  color: #333;
}

/* line 57, ../../scss/widgets/tabs.scss */

.vzrf .tabs_tab.active {
  color: #000;
  cursor: default;
  border-bottom-color: #cd040b;
}

/* line 63, ../../scss/widgets/tabs.scss */

.vzrf .tabs_tab.m_multi-line {
  padding-top: 0;
}

/* line 67, ../../scss/widgets/tabs.scss */

.w_tabs.m_equal-width .vzrf .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}

/* line 101, ../../scss/widgets/tabs.scss */

.vzrf .w_tabs.m_equal-width > .tabs_tab {
  width: 1%;
  display: table-cell;
  vertical-align: bottom;
}

/* line 105, ../../scss/widgets/tabs.scss */

.vzrf .w_tabs.m_spacing-tiny {
  margin-left: 1.5rem;
}

/* line 106, ../../scss/widgets/tabs.scss */

.vzrf .w_tabs.m_spacing-small {
  margin-left: 2.25rem;
}

/* line 107, ../../scss/widgets/tabs.scss */

.vzrf .w_tabs.m_spacing-medium {
  margin-left: 3.375rem;
}

@media only screen {
  /* line 110, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_tiny-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_tiny-spacing-tiny {
    margin-left: 1.5rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_tiny-spacing-small {
    margin-left: 2.25rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_tiny-spacing-medium {
    margin-left: 3.375rem;
  }
}

@media only screen and (min-width: 30.0625rem) {
  /* line 118, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_small-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }

  /* line 122, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_small-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_small-spacing-tiny {
    margin-left: 1.5rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_small-spacing-small {
    margin-left: 2.25rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_small-spacing-medium {
    margin-left: 3.375rem;
  }
}

@media only screen and (min-width: 48rem) {
  /* line 130, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }

  /* line 134, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}

@media only screen and (min-width: 60.625rem) {
  /* line 142, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_large-equal-width > .tabs_tab {
    width: 1%;
    display: table-cell;
    vertical-align: bottom;
  }

  /* line 146, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_large-default-width > .tabs_tab {
    width: auto;
    display: inline-block;
    vertical-align: baseline;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-tiny {
    margin-left: 1.5rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-small {
    margin-left: 2.25rem;
  }

  /* line 96, ../../scss/widgets/tabs.scss */

  .vzrf .w_tabs.m_medium-spacing-medium {
    margin-left: 3.375rem;
  }
}

/* line 154, ../../scss/widgets/tabs.scss */

.vzrf [data-tab]:hover {
  cursor: pointer;
}

/* line 158, ../../scss/widgets/tabs.scss */

.vzrf [data-tabs-content] {
  display: none;
  opacity: 0;
}

/* line 163, ../../scss/widgets/tabs.scss */

.vzrf [data-tabs-content].active {
  display: block;
  opacity: 1;
}

/* line 1, ../../scss/widgets/tooltip-namespaced.scss */

.vzrf {
  /*! VZRF 2.20.0 */
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_first > a::before {
  content: "\e901";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=checkbox] + label::before,
.vzrf input[type=radio] + label::before,
.vzrf input[type=checkbox]:hover + label::before,
.vzrf input[type=radio]:hover + label::before {
  content: "\e7bd";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=checkbox]:checked + label::before,
.vzrf input[type=radio]:checked + label::before {
  content: "\e7be";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=radio] + label::before,
.vzrf input[type=radio]:hover + label::before {
  content: "\e7bf";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf input[type=radio]:checked + label::before {
  content: "\e7c0";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_last > a::before {
  content: "\e900";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .button::before,
.vzrf .pagination_item.m_next > a::before,
.vzrf .swiper_button-next::before,
.vzrf .swiper-container-rtl .swiper_button-prev::before {
  content: "\e631";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .swiper-container-vertical .swiper_button-next::before {
  content: "\e76e";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .pagination_item.m_prev > a::before,
.vzrf .swiper_button-prev::before,
.vzrf .swiper-container-rtl .swiper_button-next::before {
  content: "\e625";
}

/* line 972, ../../scss/base/_global.scss */

.vzrf .swiper-container-vertical .swiper_button-prev::before {
  content: "\e76f";
}

/* line 4, ../../scss/widgets/tooltip.scss */

.vzrf [data-open-tooltip] {
  position: relative;
  cursor: pointer;
}

/* line 11, ../../scss/widgets/tooltip.scss */

.vzrf [data-open-tooltip][data-tooltip-hover*="0"] {
  cursor: progress;
}

/* line 15, ../../scss/widgets/tooltip.scss */

.vzrf [data-open-tooltip].active,
.vzrf [data-open-tooltip][data-tooltip-hover].active {
  z-index: 350;
  cursor: pointer;
}

/* line 21, ../../scss/widgets/tooltip.scss */

.vzrf [data-open-tooltip][data-tooltip-hover*="0"].active {
  cursor: default;
}

/* line 30, ../../scss/widgets/tooltip.scss */

.vzrf .error-msg {
  transition: background-color 0.35s;
  transition: background-color 0.35s;
  transition: background-color 0.35s;
  transition: background-color 0.35s;
}

/* line 33, ../../scss/widgets/tooltip.scss */

.vzrf [data-tooltip-field] {
  position: relative;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
  transition: box-shadow 0.35s;
}

/* line 37, ../../scss/widgets/tooltip.scss */

.vzrf [data-tooltip-field] .w_tooltip {
  top: 0;
}

/* line 43, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip {
  display: none;
  position: absolute;
  z-index: 350;
  top: -0.125rem;
  left: 100%;
  margin-left: 1.25rem;
  padding: 1.25rem;
  text-align: left;
  background-color: #fff;
  border: 0.0625rem solid #cccccc;
  cursor: default;
  color: #333;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
}

/* line 326, ../../scss/base/_global.scss */

.vzrf .w_tooltip > *:last-child,
.vzrf .w_tooltip > *:last-child > *:last-child,
.vzrf .w_tooltip > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

/* line 60, ../../scss/widgets/tooltip.scss */

.vzicon.form .vzrf .w_tooltip {
  margin-top: 0.3125rem;
}

/* line 64, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip:before {
  content: '';
  width: 0.75rem;
  height: 1.5625rem;
  position: absolute;
  left: -0.6875rem;
  top: 0.375rem;
  overflow: hidden;
  border-right: 0.0625rem solid #fff;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27utf-8%27%3F%3E%0A%3Csvg%20version%3D%271.1%27%20id%3D%27Layer_1%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xmlns%3Axlink%3D%27http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%27%20x%3D%270px%27%20y%3D%270px%27%0A%09%20viewBox%3D%270%200%2039%2039%27%20style%3D%27enable-background%3Anew%200%200%2039%2039%3B%27%20xml%3Aspace%3D%27preserve%27%3E%0A%3Cstyle%20type%3D%27text%2Fcss%27%3E%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0A%09.st1%7Bfill%3A%23CCCCCC%3B%7D%0A%3C%2Fstyle%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%276.7%27%20y%3D%276.7%27%20transform%3D%27matrix(-0.7071%200.7071%20-0.7071%20-0.7071%2047.0772%2019.5)%27%20class%3D%27st0%27%20width%3D%2725.6%27%20height%3D%2725.6%27%2F%3E%0A%09%3Cpath%20class%3D%27st1%27%20d%3D%27M19.5%2C2.8l16.7%2C16.7L19.5%2C36.2L2.8%2C19.5L19.5%2C2.8%20M19.5%2C0L0%2C19.5L19.5%2C39L39%2C19.5L19.5%2C0L19.5%2C0z%27%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  background-size: 1.5625rem 1.5625rem;
  background-repeat: no-repeat;
}

/* line 80, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_rev,
.vzrf .w_tooltip.m_flow-left {
  left: auto;
  right: 100%;
  margin-right: 0.9375rem;
}

/* line 86, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_rev::before,
.vzrf .w_tooltip.m_flow-left::before {
  left: auto;
  right: -0.6875rem;
  border-right: none;
  border-left: 0.0625rem solid #fff;
  background-position: -0.875rem 0;
}

/* line 96, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_flow-up {
  top: auto;
}

/* line 98, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_flow-up::before {
  top: auto !important;
  bottom: 0.375rem;
}

/* line 106, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_tiny {
  width: 10.9375rem;
  max-width: 10.9375rem;
}

/* line 110, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_small {
  width: 14.75rem;
  max-width: 14.75rem;
}

/* line 114, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip,
.vzrf .w_tooltip.m_medium {
  width: 19.9375rem;
  max-width: 19.9375rem;
}

/* line 119, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_large {
  width: 26.9375rem;
  max-width: 26.9375rem;
}

/* line 123, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_xlarge {
  width: 36.375rem;
  max-width: 36.375rem;
}

/* line 128, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip > h1:first-of-type,
.vzrf .w_tooltip > h2:first-of-type,
.vzrf .w_tooltip > h3:first-of-type,
.vzrf .w_tooltip > h4:first-of-type,
.vzrf .w_tooltip > h5:first-of-type,
.vzrf .w_tooltip > h6:first-of-type {
  margin-top: 0;
}

/* line 137, ../../scss/widgets/tooltip.scss */

.vzrf .middle .w_tooltip {
  top: -0.5rem;
}

/* line 140, ../../scss/widgets/tooltip.scss */

.vzrf .middle .w_tooltip:before {
  top: 0.375rem;
}

/* line 144, ../../scss/widgets/tooltip.scss */

.vzrf .tooltip_x {
  position: relative;
  float: right;
  width: 1rem;
  height: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  -webkit-transform: rotate(0deg);
  float: right;
  position: static;
}

/* line 299, ../../scss/base/_global.scss */

.vzrf .tooltip_x:hover {
  text-decoration: none;
}

/* line 303, ../../scss/base/_global.scss */

.vzrf .tooltip_x::before {
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'VZIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  color: currentColor;
  font-size: 1.5rem;
  display: inline;
  position: relative;
}

/* line 713, ../../scss/base/_global.scss */

.vzrf .tooltip_x:before {
  content: '\e65b';
  color: #959595;
  font-size: 0.75rem;
  position: absolute;
  right: 0.375rem;
  top: 0.375rem;
}

/* line 722, ../../scss/base/_global.scss */

.vzrf .tooltip_x:hover {
  text-decoration: none;
}

/* line 725, ../../scss/base/_global.scss */

.vzrf .tooltip_x:hover:before {
  color: #a2a2a2;
}

/* line 149, ../../scss/widgets/tooltip.scss */

.vzrf .tooltip_x:before {
  color: #959595;
}

/* line 150, ../../scss/widgets/tooltip.scss */

.vzrf .tooltip_x:hover:before {
  color: #a2a2a2;
}

/* line 153, ../../scss/widgets/tooltip.scss */

.vzrf .w_tooltip.m_hover [data-close-tooltip] {
  display: none;
}