<html lang="en">

{{ partial "_head.html" . }}

<body>
  <div id="content">

    {{ partial "_nav.html" . }}

    <div id="main-content" class="container-fluid">


      <div class="limit-width">
        {{ range $.Site.Data.blogs }}
        <div class="blog-unit">
          <div class="blog-heading">
            <h2 class="blog-title">{{.name}}</h2>
            <p>{{.authorName}}, {{.date}}</p>
          </div>
          <div class="blog-content">
            <p>{{.content}}</p>
          </div>
          <div class="blog-footer">
          </div>
        </div>
        {{ end }}
      </div>


    </div>

  </div>
</body>
</html>
