<html lang="en">

{{ partial "_head.html" . }}

<body>
  <div id="content">

    {{ partial "_nav.html" . }}

    <div id="main-content" class="container-fluid">

      <div class="col-md-8 col-xs-6">
        {{ range sort .Paginator.Pages }}
        <div class="blog-unit">
          <div class="blog-heading">
            <h2 class="blog-title">{{ .Title }}</h2>
            <p>{{ .Params.author }}<br />
               <em>{{ .Date.Format "Mon Jan 2, 2006" }}</em></p>
          </div>
          <div class="blog-content">
            <p>{{ .Summary }}</p>
          </div>
          <div class="blog-footer">
            <a href="{{ .Permalink }}">Read More...</a>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 col-xs-6">
      </div>

    </div>

  </div>
</body>
</html>
