<html lang="en">

{{ partial "_head.html" . }}

<body>
  <div id="content">

    {{ partial "_nav.html" . }}

    <div id="main-content" class="container-fluid dark-background">
      <div class="content center limit-width">
        {{ .Content }}
      </div>

      <!-- talks -->
      <div class="col-md-12">
        {{ range $.Site.Data.talks }}
        <div class="col-sm-5 col-md-4">
          <div class="thumbnail">
            <img src={{ .thumbnail }} alt="" width="630" />
            <div class="caption">
              <div class="row">
                <div class="col-sm-12 col-md-12" style="min-height: 70px">
                  <h5>{{ .name }}</h5>
                  <small>{{ .authorName }}</small>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-6">
                  {{ with .slides }}<a href={{ . }} role="button" class="btn btn-danger">slides</a>{{ end }}
                  {{ with .video }}<a href={{ . }} role="button" class="btn btn-danger">video</a>{{ end }}
                </div>
                <div class="col-sm-6 col-md-6">
                  {{ with .tags }}
                  {{ range . }}
                  <span class="label label-default">{{ . }}</span>
                  {{ end }}
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
<!--           <div class="panel panel-default col-md-3">
            <div class="panel-body">
              <div class="row">
                <img src="/img/talks/LSIA.png" alt="" />
              </div>
              <div class="row">
               sdfsdfsd
              </div>
            </div>
          </div> -->
      </div>
      <!-- e/o talks -->

    </div>
  </div>
</body>
</html>
