<div id="content-head" class="content-head">
  <div class="row">
    <h1 class="open-source-header-text">Free. Creative. Open.</h1>
  </div>

  <div class="row">
    <div class="col-md-12 subheading">
      <p>giving back to the open-source community</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        <a target="_blank" href="https://github.com/verizon" class="linky">
          <span class="octicon octicon-mark-github"></span> github
        </a>
        <a target="_blank" href="https://twitter.com/verizon" class="linky">
          <span class="octicon octicon-broadcast"></span> twitter
        </a>
        <a href="mailto:code@verizon.com" class="linky">
          <span class="octicon octicon-mail"></span> contact
        </a>
      </p>
    </div>
  </div><a id="hero-chevron" class="arrow-down octicon octicon-chevron-down" href="#"></a>
</div>
