<div id="main-head">
  <div>
    <div class="container-fluid navigation main-navbar-content center limit-width">
      <div class="left inline">
        <div class="navbar-item">
          <a href="/">
            <img src="/img/logo.png" alt="not available" class="navbar-logo" />
          </a>
        </div>
      </div>

      <div class="right inline">
        <div class="navbar-item">
          <a class="navbar-item-text activatable" href="/">Open Source</a>
        </div>

        <div class="navbar-item">
          <a class="navbar-item-text activatable" href="/talks/">Talks</a>
        </div>

        <div class="navbar-item">
          <a class="navbar-item-text activatable" href="/blog/">Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
