<html lang="en">

{{ partial "_head.html" . }}

<body>
  <div id="content">

    {{ partial "_nav.html" . }}

    <div id="main-content">

      {{ partial "_hero.html" . }}

      <!-- oss content -->
      <div class="projects" id="projects">
        <div class="panel panel-default repo-unit">
          <div class="panel-heading repo-unit">
            <img class="repo-avatar" src="./img/quiver.png" alt="Not available" />

            <h3 class="repo-name">quiver</h3>
          </div>

          <div class="panel-body repo-unit">
            <p class="zeromargin text-left">Last Updated: 4 days ago</p>
            <p class="text-left repo-language">Language: Scala</p>
            <p class="repo-description">A reasonable library for modeling multi-graphs in Scala</p>
          </div>

          <div class="panel-footer repo-unit">
            <a href="http://verizon.github.io/quiver/"></a>
            <div class="repo-button-container">
              <button class="custom-1">View</button>
            </div>
          </div>
        </div>
      </div>
      <!-- e/o oss content -->

    </div>

    {{ partial "_tail.html" . }}

  </div>
</body>
</html>
