<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <link rel="stylesheet" href="/css/octicons.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/osshome.css" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

  <title>Verizon Open Source Engineering</title>

</script>
</head>

<body>
  <div id="content">

    {{ partial "_nav.html" . }}

    <div id="main-content">

      {{ partial "_hero.html" . }}

      <!-- oss content -->
      <div class="open-source-content" id="open-source-content">
        <div class="panel panel-default repo-unit">
          <div class="panel-heading repo-unit">
            <img class="repo-avatar" src="./img/quiver.png" alt="Not available" />

            <h3 class="repo-name">quiver</h3>
          </div>

          <div class="panel-body repo-unit">
            <p class="zeromargin text-left">Last Updated: 4 days ago</p>
            <p class="text-left repo-language">Language: Scala</p>
            <p class="repo-description">A reasonable library for modeling multi-graphs in Scala</p>
          </div>

          <div class="panel-footer repo-unit">
            <a href="http://verizon.github.io/quiver/"></a>
            <div class="repo-button-container">
              <button class="custom-1">View</button>
            </div>
          </div>
        </div>
      </div>
      <!-- e/o oss content -->

    </div>

</script>
</body>
</html>
