.card{
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    max-width: 350px;
    margin: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
    background: #fff;
}

.card-body{
    padding: 20px;
}

.card-center{
    margin-top: 1px;
    text-align: center;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto; 

    @media (max-width: 1440px) {
        width: 1280px; 
        min-width: 1280px; 
    }
    @media (max-width: 1280px) {
        width: 976px; 
        min-width: 976px; 
    }
    @media (max-width: 976px) {
        width: 768px; 
        min-width: 768px; 
    }
}

header{
    height: 80px; 
    width: 100%; 
    position: absolute; 
    top: 0px; 
    z-index: 10; 
    //border-bottom: 2px solid #D52B1E;
    border-bottom: 1px solid lightgrey; 
    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px; 
        .logo{
            display: flex; 
            align-items: center;
            img {
                height: 75px;
                width: 180px; 
            }
        }
        .title {
            margin: auto; 
            padding-left: 100px; 
        }
        .navigation{
            nav {
                display: flex;
                align-items: center;
                a {
                    margin: 0 17px;
                }
            }

        }
    }

}

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:25px;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    justify-content: center;
}


footer{
    background-color: black;
    height: 100px;
    position: fixed;  
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    display: flex; 
    justify-content: center;
    .inner-footer{
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navigation{
            vertical-align: middle;
            nav{
                display: flex; 
                align-items: center;
                a{
                    color: white; 
                    margin: 0 25px; 
                }
            }
        }
        .logos{
            position: absolute; 
            right: 30px; 
            img { 
                margin: 0 15px; 
            }
        }
    }
}
.blogpage{
    position: absolute;
    margin-top: 80px;
    margin-bottom: 140px; 
    padding-left: 23px; 
    .blogTitleContainer{
        align-items: center; 
        .blogTitle{ 
            padding-top: 10px; 
            display: flex; 
            align-items: center;
            img{
                height: 25px;
                width: 25px;
                padding-left: 10px;
            }
        }
        .blogTitleText{
            vertical-align: middle;
            
        }
    }
    .blog{
        align-items: center;
        justify-content: space-between;
        display: flex; 
        width: 90%; 
        //float: left; 
        img{
            vertical-align: middle; 
            height: 120px; 
            width: 150px; 
            padding-top: 20px; 
        }
        .blogText{
            padding-left: 20px; 
        }
    }
}

.OspoFrontPage{
    position: relative; 
    margin: auto; 
    width: 100%; 
    text-align: center;
    .innerOspo{
        display: flex; 
        width: 70%;
        margin: auto; 
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        .Video1{
            margin: 0 25px; 
            iframe{
                border: 2px solid black; 
            }
        }
    }
    .featuredProjects{
        position: absolute;
        padding-top: 30px;
        margin: auto; 
        width: 100%; 
        text-align: center;
    }
}

.scrollContainer{
    position: relative; 
     
    overflow-y: auto;
    overflow-x: hidden;
}