.attributionsPage {
    iframe{
        height: 816px;
        width: 100%;
        margin-top: -137px
    } 
}

.callToAction{
    background-color: #D8DADA;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto; 
    width: 100%; 
    text-align: center;
    margin-bottom: 90px;
    .innerCallToAction{
        display: flex; 
        width: 70%;
        margin: auto; 
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 30px;
        .action{
            margin: 0; 
            img{
                width: 250px;
                height: 250px;
                border: 1px solid black; 
                margin-bottom: 10px
            }
        }
    }
}


.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto; 

    @media (max-width: 1440px) {
        width: 1280px; 
        min-width: 1280px; 
    }
    @media (max-width: 1280px) {
        width: 976px; 
        min-width: 976px; 
    }
    @media (max-width: 976px) {
        width: 768px; 
        min-width: 768px; 
    }
}

.featuredProjects{
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: auto; 
    width: 100%; 
    text-align: center;
    .innerFeaturedProjects{
        display: flex; 
        width: 70%;
        margin: auto; 
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 30px;
        .project{
            margin: 0; 
            img{
                width: 250px;
                height: 250px;
                padding-bottom: 25px; 
            }
            .list{
                list-style-type: none;
                padding-right: 37px; 
            }
        }
    }
}

header{
    height: 80px; 
    width: 100%; 
    position: fixed; 
    top: 0px; 
    z-index: 10; 
    border-bottom: 1px solid lightgrey; 
    background-color: white;
    .inner-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px; 
        .logo{
            display: flex; 
            align-items: center;
            img {
                height: 75px;
                width: 202px; 
            };
            .opensource-text{
                margin-left: -18px;
                margin-top: 25px;;
            }
        }
        .title {
            margin: auto; 
            padding-left: 100px; 
        }
        .navigation{
            nav {
                display: flex;
                align-items: center;
                a {
                    margin: 0 17px;
                }
            }
        }
    }

}

footer{
    background-color: black;
    height: 100px;
    position: fixed;  
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    display: flex; 
    justify-content: center;
    .inner-footer{
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navigation{
            vertical-align: middle;
            nav{
                display: flex; 
                align-items: center;
                a{
                    color: white; 
                    margin: 0 25px; 
                }
            }
        }
        // .logos{
        //     position: absolute; 
        //     right: 30px; 
        //     img { 
        //         margin: 0 15px; 
        //     }
        //}
    }
}

.OspoFrontPage{
    position: relative; 
    margin: auto; 
    width: 100%; 
    text-align: center;
    background-color: #D8DADA;
    padding-top: 50px;
    padding-bottom: 50px;
    .innerOspo{
        display: flex; 
        width: 70%;
        margin: auto; 
        align-items: center;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 30px;
        .Video1{
            margin: 0; 
            iframe{
                border: 1px solid black; 
            }
        }
    }
}

.projectLayout{
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 250px;
    .projectLayoutHeading{
        position: relative;
        text-align: center;
        margin-top: 150px;
        padding-bottom: 40px;  
    }
    .project-grid { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        }
      .project-grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      }
      .project-grid > article img {
        max-width: 100%;
      }
      .project-text {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 20px 20px;
        text-align: center;
        .title {
            margin-top: 20px;
            margin-bottom: 10px
        };
        .body {
            margin-top: 25px;
            height: 100px;
            text-align: center
        }
      }
      .project-text > button {
        background: gray;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;
    }   
}

.scrollContainer{
    position: relative; 
    overflow-y: hidden;
    overflow-x: hidden;
}

.ospage{
    .ospoTitle{
        .ospoTitleText{
            img {
                padding-right: 150px; 
                vertical-align: middle;
                width: 75px; 
                height: 71px; 
            }
            display: flex; 
            text-align: center; 
            align-items: center;
            left: 10.5%; 
            width: 80%;
            height: 30px; 
            justify-content: center;
            position: relative; 
            img {
                padding-left: 150px; 
                vertical-align: middle;
                width: 75px; 
                height: 71px; 
            }
        }
        display: flex; 
        padding-top: 125px; 
        align-items: center;
        
    }
    .ospoSubtitle{
        position: absolute; 
        top: 25%; 
        width: 100%; 
        text-align: center; 

    }
    .ospoBody{
        padding-left: 75px; 
        padding-right: 75px; 
        position: absolute; 
        top: 30%; 
    }
}

.slideData{
    position: relative; 
    img{
        position: relative; 
        height: 82vh;
        width: 100%;
        opacity: 0.6;
    }
    .slideTitle1{
        text-align: center; 
        position: absolute;
        top: 20%;
        right: 2%; 
        width: 40%
    }
    .slideButton1{
        position: absolute; 
        top: 45%; 
        right: 17%;  
    }
    .slideTitle2{
        text-align: center;
        position: absolute;
        top: 30%;
        left: 12%; 
        width: 40%
    }
    .slideButton2{
        position: absolute; 
        top: 45%; 
        left: 26.5%;
    }
    .slideTitle3{
        text-align: center;
        position: absolute;
        top: 30%;
        right: 2%; 
        width: 40%
    }
    .slideButton3{
        position: absolute; 
        top: 45%; 
        right: 17%;
    }
    .slideTitle4{
        text-align: center;
        position: absolute;
        top: 30%;
        width: 40%
    }
    .slideButton4{
        position: absolute; 
        top: 45%; 
        left: 14.5%;
    }
}

// .blogpage{
//     position: absolute;
//     margin-top: 80px;
//     margin-bottom: 140px; 
//     padding-left: 23px; 
//     .blogTitleContainer{
//         align-items: center; 
//         .blogTitle{ 
//             padding-top: 10px; 
//             display: flex; 
//             align-items: center;
//             img{
//                 height: 25px;
//                 width: 25px;
//                 padding-left: 10px;
//             }
//         }
//         .blogTitleText{
//             vertical-align: middle;
            
//         }
//     }
//     .blog{
//         align-items: center;
//         justify-content: space-between;
//         display: flex; 
//         width: 90%; 
//         //float: left; 
//         img{
//             vertical-align: middle; 
//             height: 120px; 
//             width: 150px; 
//             padding-top: 20px; 
//         }
//         .blogText{
//             padding-left: 20px; 
//         }
//     }
// }

